{
    "swagger": "2.0",
    "info": {
        "description": "A multi-cloud API for Cloud Automation Services",
        "version": "2019-01-15",
        "title": "VMware Service Broker API"
    },
    "host": "api.mgmt.cloud.vmware.com",
    "basePath": "/",
    "tags": [
        {
            "name": "Catalog Admin Items",
            "description": "Catalog Admin Items API"
        },
        {
            "name": "Catalog Entitlements",
            "description": "Entitlements API"
        },
        {
            "name": "Catalog Item Types",
            "description": "Catalog Item Type API"
        },
        {
            "name": "Catalog Items",
            "description": "Catalog Items API"
        },
        {
            "name": "Catalog Sources",
            "description": "Catalog Sources API"
        },
        {
            "name": "Deployment Actions",
            "description": "Deployment Request Action Controller"
        },
        {
            "name": "Deployment Events",
            "description": "Deployment Event Controller"
        },
        {
            "name": "Deployments",
            "description": "Deployment Controller"
        },
        {
            "name": "Icons",
            "description": "Icons API"
        },
        {
            "name": "Policies",
            "description": "Policy API"
        },
        {
            "name": "Policy Decisions",
            "description": "Policy Decision Controller"
        },
        {
            "name": "Policy Types",
            "description": "Policy Type API"
        }
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/catalog/api/admin/entitlements": {
            "get": {
                "tags": [
                    "Catalog Entitlements"
                ],
                "summary": "Returns all entitlements filtered by projectId.",
                "description": "Returns all entitlements (filtered by projectId).",
                "operationId": "getEntitlementsUsingGET",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "query",
                        "description": "The project id for which to return .",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Entitlement"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "Catalog Entitlements"
                ],
                "summary": "Create an entitlement.",
                "description": "Creates an entitlement for a given project.",
                "operationId": "createEntitlementUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "entitlement",
                        "description": "The entitlement to be created",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/Entitlement"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Entitlement"
                        }
                    },
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/Entitlement"
                        }
                    },
                    "400": {
                        "description": "Catalog item or source cannot be entitled to the project"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Catalog item or catalog source not found"
                    }
                },
                "deprecated": false
            }
        },
        "/catalog/api/admin/entitlements/{id}": {
            "delete": {
                "tags": [
                    "Catalog Entitlements"
                ],
                "summary": "Delete an entitlement.",
                "description": "Deletes the entitlement with the specified id.",
                "operationId": "deleteEntitlementUsingDELETE",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Entitlement id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "deprecated": false
            }
        },
        "/catalog/api/admin/items": {
            "get": {
                "tags": [
                    "Catalog Admin Items"
                ],
                "summary": "Fetch a list of catalog items.",
                "description": "Returns a paginated list of catalog items.",
                "operationId": "getCatalogItemsUsingGET",
                "parameters": [
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorting criteria in the format: property (asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Number of records you want to skip",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Number of records you want",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "projectId",
                        "in": "query",
                        "description": "projectId",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "search",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "sourceIds",
                        "in": "query",
                        "description": "sourceIds",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "types",
                        "in": "query",
                        "description": "types",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PageOfCatalogItem"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "deprecated": false
            }
        },
        "/catalog/api/admin/items/{id}": {
            "get": {
                "tags": [
                    "Catalog Admin Items"
                ],
                "summary": "Find a catalog item with specified id.",
                "description": "Returns the catalog item with the specified id.",
                "operationId": "getCatalogItemUsingGET",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Catalog item id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CatalogItem"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "patch": {
                "tags": [
                    "Catalog Admin Items"
                ],
                "summary": "Set an icon to a catalog item.",
                "description": "Updates a catalog item with specified icon id.",
                "operationId": "setItemIconUsingPATCH",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The unique id of item to update.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "body",
                        "name": "patch",
                        "description": "The patch that apply to the item",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AdminCatalogItemPatch"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "deprecated": false
            }
        },
        "/catalog/api/admin/sources": {
            "get": {
                "tags": [
                    "Catalog Sources"
                ],
                "summary": "Fetch catalog sources.",
                "description": "Returns a paginated list of catalog sources.",
                "operationId": "getPageUsingGET",
                "parameters": [
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorting criteria in the format: property (asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Number of records you want to skip",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Number of records you want",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "projectId",
                        "in": "query",
                        "description": "Find sources which contains items that can be requested in the given projectId",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Matches will have this string in their name or description.",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PageOfCatalogSource"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "Catalog Sources"
                ],
                "summary": "Create a new catalog source.",
                "description": "Creates a catalog source and imports catalog items from it.",
                "operationId": "postUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "source",
                        "description": "The catalog source to be created",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/CatalogSource"
                        }
                    },
                    {
                        "name": "validationOnly",
                        "in": "query",
                        "description": "If true, the source will not be created. It returns the number of items belonging to the source. The request will still return an error code if the source is invalid.",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Validation is ok",
                        "schema": {
                            "$ref": "#/definitions/CatalogSource"
                        }
                    },
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/CatalogSource"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/catalog/api/admin/sources/{sourceId}": {
            "get": {
                "tags": [
                    "Catalog Sources"
                ],
                "summary": "Fetch a specific catalog source for the given ID.",
                "description": "Returns the catalog source with the supplied ID.",
                "operationId": "getUsingGET",
                "parameters": [
                    {
                        "name": "sourceId",
                        "in": "path",
                        "description": "Catalog source ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CatalogSource"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "Catalog Sources"
                ],
                "summary": "Delete catalog source.",
                "description": "Deletes the catalog source with the supplied ID.",
                "operationId": "deleteUsingDELETE",
                "parameters": [
                    {
                        "name": "sourceId",
                        "in": "path",
                        "description": "Catalog source ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "deprecated": false
            }
        },
        "/catalog/api/items": {
            "get": {
                "tags": [
                    "Catalog Items"
                ],
                "summary": "Fetch a list of catalog items.",
                "description": "Returns a paginated list of catalog items.",
                "operationId": "getCatalogItemsUsingGET_1",
                "parameters": [
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorting criteria in the format: property (asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Number of records you want to skip",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Number of records you want",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "expandProjects",
                        "in": "query",
                        "description": "Whether or not to return detailed project data for each result.",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "projects",
                        "in": "query",
                        "description": "A list of project IDs. Results will belong to one of these projects.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Matches will have this string somewhere in their name or description.",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "types",
                        "in": "query",
                        "description": "A list of Catalog Item Type IDs. Results will be one of these types.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PageOfCatalogItem"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "deprecated": false
            }
        },
        "/catalog/api/items/{id}": {
            "get": {
                "tags": [
                    "Catalog Items"
                ],
                "summary": "Find a catalog item with specified ID.",
                "description": "Returns the catalog item with the specified ID.",
                "operationId": "getCatalogItemUsingGET_1",
                "parameters": [
                    {
                        "name": "expandProjects",
                        "in": "query",
                        "description": "Retrieves the 'projects' field of the catalog item",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Catalog item ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CatalogItem"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/catalog/api/items/{id}/request": {
            "post": {
                "tags": [
                    "Catalog Items"
                ],
                "summary": "Create a deployment.",
                "description": "Creates a deployment from a catalog item.",
                "operationId": "requestCatalogItemUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Catalog item ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "body",
                        "name": "request",
                        "description": "request",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CatalogItemRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CatalogItemRequestResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/catalog/api/items/{id}/upfront-prices": {
            "post": {
                "tags": [
                    "Catalog Items"
                ],
                "summary": "Create a request to calculate upfront price for a given catalog item.",
                "description": "Returns upfront price response for a given catalog item.",
                "operationId": "submitUpfrontPriceRequestForCatalogItemUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Catalog Item ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "body",
                        "name": "request",
                        "description": "request",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CatalogItemRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CatalogItemUpfrontPriceResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/catalog/api/items/{id}/upfront-prices/{upfrontPriceId}": {
            "get": {
                "tags": [
                    "Catalog Items"
                ],
                "summary": "Get a response with upfront prices for a given catalog item.",
                "description": "Returns upfront prices of a given catalog item.",
                "operationId": "getUpfrontPriceResponseForCatalogItemUsingGET",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Catalog Item ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "upfrontPriceId",
                        "in": "path",
                        "description": "Upfront Price Request ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CatalogItemUpfrontPriceResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/catalog/api/items/{id}/versions": {
            "get": {
                "tags": [
                    "Catalog Items"
                ],
                "summary": "Fetch a list of catalog items with versions.",
                "description": "Returns a paginated list of catalog item versions.",
                "operationId": "getVersionsUsingGET",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Catalog Item ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Results page you want to retrieve (0..N)",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 0
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "Number of records per page.",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 20
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PageOfCatalogItemVersion"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/catalog/api/items/{id}/versions/{versionId}": {
            "get": {
                "tags": [
                    "Catalog Items"
                ],
                "summary": "Fetch detailed catalog item version.",
                "description": "Returns a detailed catalog item version.",
                "operationId": "getVersionByIdUsingGET",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Catalog Item ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "versionId",
                        "in": "path",
                        "description": "Catalog Item Version ID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CatalogItemVersion"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/catalog/api/types": {
            "get": {
                "tags": [
                    "Catalog Item Types"
                ],
                "summary": "Find all Catalog Item Types.",
                "description": "Returns a paginated list of all available Catalog Item Types.",
                "operationId": "getTypesUsingGET",
                "parameters": [
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorting criteria in the format: property (asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Number of records you want to skip",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Number of records you want",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PageOfCatalogItemType"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "deprecated": false
            }
        },
        "/catalog/api/types/{id}": {
            "get": {
                "tags": [
                    "Catalog Item Types"
                ],
                "summary": "Fetch catalog item type associated with the specified ID.",
                "description": "Returns the Catalog Item Type with the specified ID.",
                "operationId": "getTypeByIdUsingGET",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Catalog Type ID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CatalogItemType"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/deployment/api/deployments": {
            "get": {
                "tags": [
                    "Deployments"
                ],
                "summary": "Fetch all deployments.",
                "description": "Returns a paginated list of deployments.",
                "operationId": "getDeploymentsUsingGET",
                "parameters": [
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorting criteria in the format: property (asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Number of records you want to skip",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Number of records you want",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "cloudAccounts",
                        "in": "query",
                        "description": "A comma-separated list. Results must be associated with one of these cloud accounts.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "cloudTypes",
                        "in": "query",
                        "description": "A comma-separated list. Results must be associated with one of these endpoint Types",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "expandLastRequest",
                        "in": "query",
                        "description": "Expands deployment last request.",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "expandProject",
                        "in": "query",
                        "description": "The 'project' field of each resulting deployment will be retrieved.",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "expandResources",
                        "in": "query",
                        "description": "The 'resources' field of each resulting deployment will be retrieved.",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "forceCachedResources",
                        "in": "query",
                        "description": "The 'resources' field of each deployment in the result list will be read from a cache for a faster query.",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "forceRefreshResources",
                        "in": "query",
                        "description": "The 'resources' field of each deployment in the result list will be guaranteed up-to-date.",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "A comma-separated list. Only deployments with these IDs will be included in the results.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Results must have exactly this name.",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "projects",
                        "in": "query",
                        "description": "A comma-separated list. Results must be associated with one of these project IDs.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "requestedBy",
                        "in": "query",
                        "description": "A comma-separated list. Results must be associated with one of these requesters",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "resourceTypes",
                        "in": "query",
                        "description": "A comma-separated list. Results must be associated with one of these resourceType Names.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Results must either have names with this string as a prefix or contain this string in their description.",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "A comma-separated list. Results must be associated with one of these statuses.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "description": "A comma-separated list. Results must be associated with one of these tags",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "templates",
                        "in": "query",
                        "description": "A comma-separated list. Results must be associated with one of these templates.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PageOfDeployment"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "deprecated": false
            }
        },
        "/deployment/api/deployments/filters": {
            "get": {
                "tags": [
                    "Deployments"
                ],
                "summary": "Returns the Deployment filters in context of given user.",
                "operationId": "getDeploymentFiltersUsingGET",
                "parameters": [
                    {
                        "name": "ISO3Country",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "ISO3Language",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "displayCountry",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "displayLanguage",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "displayName",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "displayScript",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "displayVariant",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "script",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "unicodeLocaleAttributes",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "unicodeLocaleKeys",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "variant",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/FilterSchema"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "deprecated": false
            }
        },
        "/deployment/api/deployments/filters/{filterId}": {
            "get": {
                "tags": [
                    "Deployments"
                ],
                "summary": "Returns the Deployment filter with the supplied ID.",
                "operationId": "getDeploymentFilterByIdUsingGET",
                "parameters": [
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorting criteria in the format: property (asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Number of records you want to skip",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Number of records you want",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "filterId",
                        "in": "path",
                        "description": "Filter Id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search string for filters",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PageOfFilterEntry"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "deprecated": false
            }
        },
        "/deployment/api/deployments/names/{name}": {
            "get": {
                "tags": [
                    "Deployments"
                ],
                "summary": "Check if a deployment exists.",
                "description": "Returns OK if a deployment with the supplied name exists.",
                "operationId": "checkDeploymentNameUsingGET",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "description": "Deployment name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/deployment/api/deployments/{depId}": {
            "get": {
                "tags": [
                    "Deployments"
                ],
                "summary": "Fetch a specific deployment.",
                "description": "Returns the deployment with the supplied ID.",
                "operationId": "getDeploymentByIdUsingGET",
                "parameters": [
                    {
                        "name": "depId",
                        "in": "path",
                        "description": "Deployment ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "expandLastRequest",
                        "in": "query",
                        "description": "Expands deployment last request.",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "expandProject",
                        "in": "query",
                        "description": "The 'project' field of the deployment will be retrieved.",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "expandResources",
                        "in": "query",
                        "description": "The 'resources' field of the deployment will be retrieved.",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "forceCachedResources",
                        "in": "query",
                        "description": "The 'resources' field of the deployment will be read from a cache for a faster query.",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "forceRefreshResources",
                        "in": "query",
                        "description": "The 'resources' field of the deployment will be guaranteed up-to-date.",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Deployment"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "Deployments"
                ],
                "summary": "Delete a deployment. Effectively triggers a Delete Day2 operation",
                "description": "Deletes the deployment with the supplied ID, cleans up the associated resources from the Cloud Provider.",
                "operationId": "deleteDeploymentUsingDELETE",
                "parameters": [
                    {
                        "name": "depId",
                        "in": "path",
                        "description": "Deployment ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DeploymentRequest"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "deprecated": false
            },
            "patch": {
                "tags": [
                    "Deployments"
                ],
                "summary": "Update deployment.",
                "description": "Updates the deployment with the supplied ID.",
                "operationId": "patchDeploymentUsingPATCH",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "depId",
                        "in": "path",
                        "description": "Deployment ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "body",
                        "name": "update",
                        "description": "A set of fields to overwrite the corresponding fields in the deployment",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/DeploymentUpdate"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Deployment"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/deployment/api/deployments/{depId}/actions": {
            "get": {
                "tags": [
                    "Deployment Actions"
                ],
                "summary": "Fetch deployment available actions.",
                "description": "Returns the complete list of available actions that can be performed on a given deployment.",
                "operationId": "getDeploymentActionsUsingGET",
                "parameters": [
                    {
                        "name": "depId",
                        "in": "path",
                        "description": "Deployment ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ResourceAction"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/deployment/api/deployments/{depId}/actions/{actionId}": {
            "get": {
                "tags": [
                    "Deployment Actions"
                ],
                "summary": "Fetch deployment action.",
                "description": "Returns an action for the deployment specified by its Deployment ID and Action ID.",
                "operationId": "getDeploymentActionUsingGET",
                "parameters": [
                    {
                        "name": "actionId",
                        "in": "path",
                        "description": "Action ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "depId",
                        "in": "path",
                        "description": "Deployment ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResourceAction"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/deployment/api/deployments/{depId}/events": {
            "get": {
                "tags": [
                    "Deployment Events"
                ],
                "summary": "Fetch deployment events.",
                "description": "Returns the events for the deployment.",
                "operationId": "getDeploymentEventsUsingGET",
                "parameters": [
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorting criteria in the format: property (asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Number of records you want to skip",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Number of records you want",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "depId",
                        "in": "path",
                        "description": "Deployment ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "includeAllSubEvents",
                        "in": "query",
                        "description": "Whether to include all events in the response.",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "parentId",
                        "in": "query",
                        "description": "Parent Event Id",
                        "required": false,
                        "type": "string",
                        "format": "uuid",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PageOfDeploymentEvent"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/deployment/api/deployments/{depId}/requests": {
            "post": {
                "tags": [
                    "Deployment Actions"
                ],
                "summary": "Deployment action request.",
                "description": "Submit a deployment action request",
                "operationId": "submitDeploymentActionRequestUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "actionRequest",
                        "description": "actionRequest",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ResourceActionRequest"
                        }
                    },
                    {
                        "name": "depId",
                        "in": "path",
                        "description": "Deployment ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DeploymentRequest"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/deployment/api/deployments/{depId}/resources": {
            "get": {
                "tags": [
                    "Deployments"
                ],
                "summary": "Fetch resources associated with a deployment.",
                "description": "Returns a paginated list of resources corresponding to the deployment with the supplied ID.",
                "operationId": "getDeploymentResourcesUsingGET",
                "parameters": [
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorting criteria in the format: property (asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Number of records you want to skip",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Number of records you want",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "depId",
                        "in": "path",
                        "description": "Deployment ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "forceCachedResources",
                        "in": "query",
                        "description": "Retrieves the resources from a cache for a faster query.",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "forceRefreshResources",
                        "in": "query",
                        "description": "Guarantees the resources are up-to-date.",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PageOfResource"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/deployment/api/deployments/{depId}/resources/{resourceId}": {
            "get": {
                "tags": [
                    "Deployments"
                ],
                "summary": "Fetch resource associated with a deployment.",
                "description": "Returns the resource with the specified ID that is correlated with the supplied deployment.",
                "operationId": "getResourceByIdUsingGET",
                "parameters": [
                    {
                        "name": "depId",
                        "in": "path",
                        "description": "Deployment ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "forceCachedResources",
                        "in": "query",
                        "description": "Retrieves the resource from a cache for a faster query.",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "forceRefreshResources",
                        "in": "query",
                        "description": "Guarantees the resource is up-to-date.",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "resourceId",
                        "in": "path",
                        "description": "Resource ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Resource"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "Deployments"
                ],
                "summary": "Delete resource associated with a deployment. Effectively triggers a Delete Day2 operation.",
                "description": "Deletes the resource with the specified ID and attempts to delete resource from the Cloud Provider.",
                "operationId": "deleteResourceUsingDELETE",
                "parameters": [
                    {
                        "name": "depId",
                        "in": "path",
                        "description": "Deployment ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "resourceId",
                        "in": "path",
                        "description": "Resource ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DeploymentRequest"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "deprecated": false
            }
        },
        "/deployment/api/deployments/{depId}/resources/{resourceId}/actions": {
            "get": {
                "tags": [
                    "Deployment Actions"
                ],
                "summary": "Fetch available resource actions.",
                "description": "Returns the complete list of available actions that can be performed on a given resource.",
                "operationId": "getResourceActionsUsingGET",
                "parameters": [
                    {
                        "name": "depId",
                        "in": "path",
                        "description": "Deployment ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "resourceId",
                        "in": "path",
                        "description": "Resource ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ResourceAction"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/deployment/api/deployments/{depId}/resources/{resourceId}/actions/{actionId}": {
            "get": {
                "tags": [
                    "Deployment Actions"
                ],
                "summary": "Fetch resource action.",
                "description": "Returns an action for the resource specified by its Resource ID and Action ID.",
                "operationId": "getResourceActionUsingGET",
                "parameters": [
                    {
                        "name": "actionId",
                        "in": "path",
                        "description": "Action ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "depId",
                        "in": "path",
                        "description": "Deployment ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "resourceId",
                        "in": "path",
                        "description": "Resource ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResourceAction"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/deployment/api/deployments/{depId}/resources/{resourceId}/requests": {
            "post": {
                "tags": [
                    "Deployment Actions"
                ],
                "summary": "Resource action request.",
                "description": "Submit a resource action request.",
                "operationId": "submitResourceActionRequestUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "actionRequest",
                        "description": "actionRequest",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ResourceActionRequest"
                        }
                    },
                    {
                        "name": "depId",
                        "in": "path",
                        "description": "Deployment ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "resourceId",
                        "in": "path",
                        "description": "Resource ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DeploymentRequest"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/deployment/api/projects/{projectId}/deployment-count": {
            "get": {
                "tags": [
                    "Deployments"
                ],
                "summary": "Returns a count of deployments using the project.",
                "operationId": "getDeploymentsForProjectUsingGET",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "Project ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Page"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/deployment/api/requests/{requestId}": {
            "post": {
                "tags": [
                    "Deployment Actions"
                ],
                "summary": "Submit action on requests. Allowable values: cancel, dismiss. Cancel can be submitted on In-progress requests and Dismiss can be submitted on Failed requests.",
                "operationId": "actionDeploymentRequestUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "action",
                        "in": "query",
                        "description": "action",
                        "required": true,
                        "type": "string",
                        "allowEmptyValue": false,
                        "enum": [
                            "cancel",
                            "dismiss"
                        ]
                    },
                    {
                        "name": "requestId",
                        "in": "path",
                        "description": "requestId",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/icon/api/icons": {
            "post": {
                "tags": [
                    "Icons"
                ],
                "summary": "Upload an icon",
                "description": "Create an icon.",
                "operationId": "upload",
                "consumes": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "file",
                        "in": "formData",
                        "description": "Icon file",
                        "required": true,
                        "type": "file"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Success - create an icon."
                    },
                    "400": {
                        "description": "Invalid request - bad data."
                    },
                    "403": {
                        "description": "Forbidden."
                    }
                },
                "deprecated": false
            }
        },
        "/icon/api/icons/{id}": {
            "get": {
                "tags": [
                    "Icons"
                ],
                "summary": "Download an icon",
                "description": "Download an existing icon by its unique id.",
                "operationId": "download",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Icon id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success - return the catalog icon.",
                        "schema": {
                            "type": "string",
                            "format": "byte"
                        }
                    },
                    "400": {
                        "description": "Invalid request - bad data."
                    },
                    "404": {
                        "description": "Icon not found."
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "Icons"
                ],
                "summary": "Delete an icon",
                "description": "Delete an existing icon by its unique id.",
                "operationId": "delete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Icon id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success - delete the icon"
                    },
                    "403": {
                        "description": "Forbidden."
                    }
                },
                "deprecated": false
            }
        },
        "/policy/api/policies": {
            "get": {
                "tags": [
                    "Policies"
                ],
                "summary": "Returns a paginated list of policies.",
                "description": "Find all the policies associated with current org.",
                "operationId": "getPoliciesUsingGET",
                "parameters": [
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorting criteria in the format: property (asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Number of records you want to skip",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Number of records you want",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "computeStats",
                        "in": "query",
                        "description": "computeStats",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "expandDefinition",
                        "in": "query",
                        "description": "Retrieves the schema for this policy type",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Matches will start with this string in their name or have this string somewhere in their description.",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PageOfPolicy"
                        }
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "Policies"
                ],
                "summary": "Creates a policy.",
                "description": "Create a new policy based on request body and validate its field according to business rules.",
                "operationId": "createPolicyUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "policy",
                        "description": "The policy to be created",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/Policy"
                        }
                    },
                    {
                        "name": "validationOnly",
                        "in": "query",
                        "description": "For a dry run that will do policy validation only instead of create a policy",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Policy"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/policy/api/policies/{id}": {
            "get": {
                "tags": [
                    "Policies"
                ],
                "summary": "Returns a specified policy.",
                "description": "Find a specific policy based on the input policy id.",
                "operationId": "getPolicyUsingGET",
                "parameters": [
                    {
                        "name": "computeStats",
                        "in": "query",
                        "description": "computeStats",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "expandCriteriaLegend",
                        "in": "query",
                        "description": "Augments Criteria in returned object with legend data structures for translation between IDs and human readable DataElements",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Policy ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Policy"
                        }
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "Policies"
                ],
                "summary": "Delete a policy",
                "description": "Delete a specified policy corresponding to its unique id.",
                "operationId": "deletePolicyUsingDELETE",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Policy ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                },
                "deprecated": false
            }
        },
        "/policy/api/policyDecisions": {
            "get": {
                "tags": [
                    "Policy Decisions"
                ],
                "summary": "Fetch a list of policy decisions.",
                "description": "Returns a paginated list of policy decisions. If a dryRunId is provided, the return value has a field indicating whether the dry run is complete.",
                "operationId": "getDecisionsUsingGET",
                "parameters": [
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorting criteria in the format: property (asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Number of records you want to skip",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Number of records you want",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "dryRunId",
                        "in": "query",
                        "description": "dryRunId",
                        "required": false,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "policyTypeId",
                        "in": "query",
                        "description": "Matches will only include policies of this type",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "projectId",
                        "in": "query",
                        "description": "Matches will only include decisions with this project ID",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Matches will start with this string in their policy name or target name or have this string somewhere in their description.",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PageOfPolicyDecisionOfObjectNode"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/policy/api/policyDecisions/{id}": {
            "get": {
                "tags": [
                    "Policy Decisions"
                ],
                "summary": "Returns a policy decision by id.",
                "description": "Find a specific policy decision based on the input policy decision id.",
                "operationId": "getDecisionByIdUsingGET",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Policy decision Id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PolicyDecisionOfObjectNode"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/policy/api/policyTypes": {
            "get": {
                "tags": [
                    "Policy Types"
                ],
                "summary": "Returns a paginated list of policy types.",
                "description": "Find all the policy types available in the current org.",
                "operationId": "getTypesUsingGET_1",
                "parameters": [
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorting criteria in the format: property (asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
[...]
