{
    "swagger": "2.0",
    "info": {
        "description": "Code Stream is a continuous integration and continuous delivery (CICD) tool that you use to build Pipelines that model the software release process in your DevOps lifecycle. By creating Pipelines, you build the code infrastructure that delivers your software rapidly and continuously.\n\nThis page describes the RESTful APIs for Code Stream. The APIs facilitate CRUD operations on the various resources and entities used throughout Code Stream (Pipelines, Endpoints, Variables, etc.) and allow operations on them (executing a Pipeline, validating an Endpoint connection, etc.).\n\nThe APIs that list collections of resources  also support OData like implementation. Below query params can be used across Code Stream entities.\n\nExample:\n\n1. `$orderby` - returns a result with the rows being sorted by the values of provided attribute.\n\n    ```/codestream/api/endpoints?$orderby=name%20desc```\n\n2. `$top`, `$skip` - `$top` returns the requested number of resources. Used with `$skip`, the client can skip a given number of resources.\n\n    ```/codestream/api/endpoints?$expand=true&$top=10&$skip=2```\n\n3. `page` and `$size` - page used in conjunction with `$size` helps in pagination of resources.\n\n    ```/codestream/api/endpoints?$expand=true&page=0&$size=5```\n\n4. `$filter` - `$filter` returns a subset of resources that satisfy the given predicate expression.\n\n    ```\n    /codestream/api/endpoints?$filter=startswith(name, 'ABC')\n    /codestream/api/endpoints?$filter=toupper(name) eq 'ABCD-JENKINS'\n    /codestream/api/endpoints?$filter=substringof(%27bc%27,tolower(name))\n    /codestream/api/endpoints?$filter=name eq 'ABCD' and project eq 'demo'\n",
        "version": "2019-10-17",
        "title": "Code Stream APIs",
        "license": {
            "name": "Copyright (c) 2022 VMware, Inc. All Rights Reserved.",
            "url": "https://www.vmware.com/cloud-solutions.html"
        }
    },
    "host": "api.mgmt.cloud.vmware.com",
    "basePath": "/",
    "tags": [
        {
            "name": "About"
        },
        {
            "name": "Custom Integrations"
        },
        {
            "name": "Endpoints"
        },
        {
            "name": "Executions"
        },
        {
            "name": "Pipelines"
        },
        {
            "name": "Triggers"
        },
        {
            "name": "User-operations"
        },
        {
            "name": "Variables"
        }
    ],
    "schemes": [
        "https"
    ],
    "paths": {
        "/codestream/api/about": {
            "get": {
                "tags": [
                    "About"
                ],
                "summary": "Get about page",
                "description": "The page contains information about the supported API versions and the latest API version. The version parameter is optional but highly recommended.\nIf you do not specify explicitly an exact version, you will be calling the latest supported API version.\nHere is an example of a call which specifies the exact version you are using: `GET /codestream/api/pipelines?apiVersion=2019-10-17`",
                "operationId": "handleGetAboutUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /codestream/api/about",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": true
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Bearer token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "'Success' with the requested Endpoint",
                        "schema": {
                            "$ref": "#/definitions/About"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "/codestream/api/batch-user-operations": {
            "post": {
                "tags": [
                    "Executions"
                ],
                "summary": "Updates a batch of user operations",
                "description": "Approves/ Rejects a set of user operations",
                "operationId": "updateUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /codestream/api/about",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": true
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Bearer token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "request",
                        "description": "request",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BatchUserOperationRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Approved/Rejected all selected user operations successfully.",
                        "schema": {
                            "$ref": "#/definitions/BatchUserOperationResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "/codestream/api/custom-integrations": {
            "get": {
                "tags": [
                    "Custom Integrations"
                ],
                "summary": "Get all Custom Integrations",
                "description": "Get all Custom Integrations with specified paging and filter parameters.",
                "operationId": "getCustomIntegrationsUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "To list Custom Integrations with OData like filter",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order by attribute",
                        "required": false,
                        "type": "string",
                        "default": "name desc"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "To skip 'n' Custom Integrations for listing",
                        "required": false,
                        "type": "string",
                        "default": "0"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "To list top 'n' Custom Integrations",
                        "required": false,
                        "type": "string",
                        "default": "25"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "To select 'n'th page for listing",
                        "required": false,
                        "type": "string",
                        "default": "0"
                    },
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /codestream/api/about",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": true
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Bearer token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "type",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "'Success' with the requested Custom Integrations",
                        "schema": {
                            "$ref": "#/definitions/CustomIntegrations"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "Custom Integrations"
                ],
                "summary": "Create a Custom Integration",
                "description": "Create a Custom Integration to be consumed in pipelines as custom tasks",
                "operationId": "createCustomIntegrationUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Custom Integration specification",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CustomIntegrationSpec"
                        }
                    },
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /codestream/api/about",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": true
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Bearer token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CustomIntegration"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "/codestream/api/custom-integrations/{id}": {
            "get": {
                "tags": [
                    "Custom Integrations"
                ],
                "summary": "Get a Custom Integration by id",
                "description": "Get details of a Custom Integration with the given id",
                "operationId": "getDraftByIdUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the Custom Integration",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /codestream/api/about",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": true
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Bearer token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CustomIntegration"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            },
            "put": {
                "tags": [
                    "Custom Integrations"
                ],
                "summary": "Update a Custom Integration by id",
                "description": "Update a Custom Integration with the given id",
                "operationId": "updateByIdUsingPUT",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Custom Integration specification",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CustomIntegrationSpec"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the Custom Integration",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /codestream/api/about",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": true
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Bearer token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CustomIntegration"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "Custom Integrations"
                ],
                "summary": "Delete a Custom Integration and its versions",
                "description": "Delete a Custom Integration with the given id and all its versions",
                "operationId": "deleteDraftByIdUsingDELETE",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the Custom Integration",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "The type of the Custom Integration",
                        "required": true,
                        "type": "string",
                        "default": "all",
                        "allowEmptyValue": false,
                        "x-example": "draft"
                    },
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /codestream/api/about",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": true
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Bearer token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CustomIntegration"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "/codestream/api/custom-integrations/{id}/versions": {
            "get": {
                "tags": [
                    "Custom Integrations"
                ],
                "summary": "Get all versions of a Custom Integration by id",
                "description": "Get all versions of a Custom Integration with specified id, paging and filter parameters",
                "operationId": "getAllCustomIntegrationVersionsByIdUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "To list Custom Integrations with OData like filter",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order by attribute",
                        "required": false,
                        "type": "string",
                        "default": "name desc"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "To skip 'n' Custom Integrations for listing",
                        "required": false,
                        "type": "string",
                        "default": "0"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "To list top 'n' Custom Integrations",
                        "required": false,
                        "type": "string",
                        "default": "25"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the Custom Integration",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "To select 'n'th page for listing",
                        "required": false,
                        "type": "string",
                        "default": "0"
                    },
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /codestream/api/about",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": true
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Bearer token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "'Success' with requested versions for Custom Integration",
                        "schema": {
                            "$ref": "#/definitions/CustomIntegrations"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "Custom Integrations"
                ],
                "summary": "Create a Custom Integration version",
                "description": "Create a Custom Integration version from the current draft",
                "operationId": "createVersionByIdUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Request object for version of a Custom Integration",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/VersionRequest"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the Custom Integration",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /codestream/api/about",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": true
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Bearer token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CustomIntegration"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "/codestream/api/custom-integrations/{id}/versions/{version}": {
            "get": {
                "tags": [
                    "Custom Integrations"
                ],
                "summary": "Get a Custom Integration by version",
                "description": "Get a Custom Integration with the given id and version",
                "operationId": "getCustomIntegrationVersionByIdUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the Custom Integration",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "description": "The version of the Custom Integration",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /codestream/api/about",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": true
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Bearer token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CustomIntegration"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "Custom Integrations"
                ],
                "summary": "Delete a Custom Integration version",
                "description": "Delete a Custom Integration version with the given id and version",
                "operationId": "deleteVersionByIdUsingDELETE",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the Custom Integration",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "description": "The version of the Custom Integration",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /codestream/api/about",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": true
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Bearer token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CustomIntegration"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            },
            "patch": {
                "tags": [
                    "Custom Integrations"
                ],
                "summary": "Set/Unset a release version as 'LATEST'.",
                "description": "Sets a released Custom Integration version as 'LATEST' or unsets a version from 'LATEST'",
                "operationId": "toggleLatestUsingPATCH",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Patch Request for a custom integration",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CustomIntegrationPatchRequest"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the Custom Integration",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "description": "The version of the Custom Integration",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /codestream/api/about",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": true
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Bearer token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CustomIntegration"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "/codestream/api/custom-integrations/{id}/versions/{version}/deprecate": {
            "post": {
                "tags": [
                    "Custom Integrations"
                ],
                "summary": "Deprecate a Custom Integration version",
                "description": "Deprecate a Custom Integration version",
                "operationId": "deprecateByIdAndVersionUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the Custom Integration",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "description": "The version of the Custom Integration",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /codestream/api/about",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": true
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Bearer token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CustomIntegration"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "/codestream/api/custom-integrations/{id}/versions/{version}/release": {
            "post": {
                "tags": [
                    "Custom Integrations"
                ],
                "summary": "Release a Custom Integration version",
                "description": "Release a Custom Integration version to be consumable in pipelines",
                "operationId": "releaseByIdAndVersionUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the Custom Integration",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "description": "The version of the Custom Integration",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /codestream/api/about",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": true
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Bearer token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CustomIntegration"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "/codestream/api/custom-integrations/{id}/versions/{version}/restore": {
            "post": {
                "tags": [
                    "Custom Integrations"
                ],
                "summary": "Restore a Custom Integration from a version to current draft",
                "description": "Restore a Custom Integration from the given version to the current draft",
                "operationId": "restoreByIdAndVersionUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the Custom Integration",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "description": "The version of the Custom Integration",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /codestream/api/about",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": true
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Bearer token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CustomIntegration"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "/codestream/api/custom-integrations/{id}/versions/{version}/withdraw": {
            "post": {
                "tags": [
                    "Custom Integrations"
                ],
                "summary": "Withdraw a Custom Integration version",
                "description": "Withdraw a released/deprecated Custom Integration version to make it un-consumable in pipelines",
                "operationId": "withdrawByIdAndVersionUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the Custom Integration",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "description": "The version of the Custom Integration",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /codestream/api/about",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": true
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Bearer token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CustomIntegration"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "/codestream/api/endpoint-certificate": {
            "get": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Get endpoint certificate",
                "description": "Get endpoint certificate chain for validation",
                "operationId": "getUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /codestream/api/about",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": true
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Bearer token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "'Success' with endpoint certificate details",
                        "schema": {
                            "$ref": "#/definitions/EndpointCertificateChain"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "/codestream/api/endpoint-tiles": {
            "get": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Get all endpoint tiles",
                "description": "Get all supported endpoint tiles",
                "operationId": "getEndpointTilesUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /codestream/api/about",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": true
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Bearer token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "'Success' with supported endpoint tiles",
                        "schema": {
                            "$ref": "#/definitions/Tiles"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "/codestream/api/endpoint-tiles/{type}": {
            "get": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Get endpoint properties",
                "description": "Get endpoint properties with the given endpoint type",
                "operationId": "getEndpointPropertiesUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /codestream/api/about",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": true
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Bearer token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "type",
                        "in": "path",
                        "description": "type",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "'Success' with endpoint properties",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "/codestream/api/endpoint-validation": {
            "post": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Validate endpoint",
                "description": "Validates the given endpoint",
                "operationId": "validateEndpointUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Endpoint specification",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/EndpointValidationSpec"
                        }
                    },
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /codestream/api/about",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": true
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Bearer token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "'Success' with endpoint validations",
                        "schema": {
                            "$ref": "#/definitions/TileExecutorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "/codestream/api/endpoints": {
            "get": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Get all Endpoints",
                "description": "Get all Endpoints with specified paging and filter parameters",
                "operationId": "getAllEndpointsUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "To list Endpoints with OData like filter",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order by attribute",
                        "required": false,
                        "type": "string",
                        "default": "name desc"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "To skip 'n' Endpoints for listing",
                        "required": false,
                        "type": "string",
                        "default": "0"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "To list top 'n' Endpoints for listing",
                        "required": false,
                        "type": "string",
                        "default": "25"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "To select 'n'th page for listing",
                        "required": false,
                        "type": "string",
                        "default": "0"
                    },
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /codestream/api/about",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": true
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Bearer token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "'Success' with the requested Endpoints",
                        "schema": {
                            "$ref": "#/definitions/Endpoints"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Create an Endpoint",
                "description": "Create an Endpoint based on the given project",
                "operationId": "createEndpointUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Endpoint specification",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/EndpointSpec"
                        }
                    },
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /codestream/api/about",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": true
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Bearer token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "'Success' with the created Endpoint",
                        "schema": {
                            "$ref": "#/definitions/Endpoint"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "/codestream/api/endpoints/{id}": {
            "get": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Get an Endpoint",
                "description": "Get an Endpoint with the given id",
                "operationId": "getEndpointByIdUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the Endpoint",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /codestream/api/about",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": true
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Bearer token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "'Success' with the requested Endpoint",
                        "schema": {
                            "$ref": "#/definitions/Endpoint"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            },
            "put": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Update an Endpoint by id",
                "description": "Update an Endpoint with the given id",
                "operationId": "updateEndpointByIdUsingPUT",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Endpoint specification",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/EndpointSpec"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the Endpoint",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /codestream/api/about",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": true
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Bearer token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "'Success' with the updated Endpoint",
                        "schema": {
                            "$ref": "#/definitions/Endpoint"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Delete an Endpoint by id",
                "description": "Delete an Endpoint with the given id",
                "operationId": "deleteEndpointByIdUsingDELETE",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the Endpoint",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /codestream/api/about",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": true
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Bearer token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "'Success' with the deleted Endpoint",
                        "schema": {
                            "$ref": "#/definitions/Endpoint"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "/codestream/api/endpoints/{project}/{name}": {
            "get": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Get an Endpoint by project and name",
                "description": "Get an Endpoint with the given project and name",
                "operationId": "getEndpointByNameUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the Endpoint",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "project",
                        "in": "path",
                        "description": "The project the Endpoint belongs to",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /codestream/api/about",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": true
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Bearer token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "'Success' with the requested Endpoint",
                        "schema": {
                            "$ref": "#/definitions/Endpoint"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            },
            "put": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Update an Endpoint by project and name",
                "description": "Update an Endpoint with the given project and name",
                "operationId": "updateEndpointByNameUsingPUT",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Endpoint specification",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/EndpointSpec"
                        }
                    },
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the Endpoint",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "project",
                        "in": "path",
                        "description": "The project the Endpoint belongs to",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /codestream/api/about",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": true
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Bearer token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "'Success' with the updated Endpoint",
                        "schema": {
                            "$ref": "#/definitions/Endpoint"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Delete an Endpoint by project and name",
                "description": "Delete an Endpoint with the given name",
                "operationId": "deleteEndpointByNameUsingDELETE",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the Endpoint",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "project",
                        "in": "path",
                        "description": "The project the Endpoint belongs to",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /codestream/api/about",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": true
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Bearer token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "'Success' with the deleted Endpoint",
                        "schema": {
                            "$ref": "#/definitions/Endpoint"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "/codestream/api/executions": {
            "get": {
                "tags": [
                    "Executions"
                ],
                "summary": "Get all Executions",
                "description": "Get all Executions with specified paging and filter parameters.",
                "operationId": "getAllExecutionsUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "To list with OData like filter",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order by attribute",
                        "required": false,
                        "type": "string",
                        "default": "name desc"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "To skip 'n' Executions for listing",
                        "required": false,
                        "type": "string",
                        "default": "0"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "To list top 'n' Executions for listing",
                        "required": false,
                        "type": "string",
                        "default": "25"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "To select 'n'th page for listing",
                        "required": false,
                        "type": "string",
                        "default": "0"
                    },
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /codestream/api/about",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": true
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Bearer token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "'Success' with the requested Executions",
                        "schema": {
                            "$ref": "#/definitions/Executions"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "Executions"
                ],
                "summary": "Delete all Executions",
                "description": "Delete executions that match the specified filter.",
                "operationId": "deleteAllExecutionsUsingDELETE",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /codestream/api/about",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": true
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Bearer token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Count of executions to be deleted",
                        "schema": {
                            "$ref": "#/definitions/Executions"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "/codestream/api/executions/{id}": {
            "get": {
                "tags": [
                    "Executions"
                ],
                "summary": "Get an Execution",
                "description": "Get an Execution by id",
                "operationId": "getExecutionByIdUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the Execution",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "queryParams",
                        "in": "query",
                        "description": "Value of 'expand' type for the execution",
                        "required": false,
                        "type": "string",
                        "x-example": "expand=PIPELINE_STAGE_TASK"
                    },
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /codestream/api/about",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": true
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Bearer token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "'Success' with Execution",
                        "schema": {
                            "$ref": "#/definitions/Execution"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "Executions"
                ],
                "summary": "Act on an Execution",
                "description": "Actions supported are pause, resume, cancel and tag",
                "operationId": "modifyExecutionUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "action",
                        "in": "query",
                        "description": "Action to perform on the Execution. Can be any of pause, resume, cancel and tag",
                        "required": true,
                        "type": "string",
                        "allowEmptyValue": false
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Execution Request specification",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/ExecutionActionRequest"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the Execution",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /codestream/api/about",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": true
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Bearer token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "'Success' with Execution",
                        "schema": {
                            "$ref": "#/definitions/Execution"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "Executions"
                ],
                "summary": "Delete an Execution by id",
                "description": "Delete an Execution",
                "operationId": "deleteExecutionByIdUsingDELETE",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the Execution",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /codestream/api/about",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": true
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Bearer token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "'Success' with execution delete",
                        "schema": {
                            "$ref": "#/definitions/Execution"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "/codestream/api/export": {
            "get": {
                "tags": [
                    "Pipelines"
                ],
                "summary": "Export",
                "description": "Exports a single pipeline (and endpoints referred in that pipeline) or a list of pipelines/endpoints in a given project or a custom integration with given list of versions as 'YAML' in a given project",
                "operationId": "exportUsingGET",
                "produces": [
                    "application/x-yaml"
                ],
                "parameters": [
                    {
                        "name": "customIntegration",
                        "in": "query",
                        "description": "Name of the Custom Integration to be exported",
                        "required": false,
                        "type": "string",
                        "default": "pipeline-as-code"
                    },
                    {
                        "name": "customIntegrationVersions",
                        "in": "query",
                        "description": "Comma separated list of versions of the given custom integration to be exported",
                        "required": false,
                        "type": "string",
                        "default": "1st,2nd,3rd"
                    },
                    {
                        "name": "endpoints",
                        "in": "query",
                        "description": "Comma separated list of endpoints to be exported in a given project",
                        "required": false,
                        "type": "string",
                        "default": "Jenkins, Jira"
                    },
                    {
                        "name": "exportAllCustomIntegrationVersions",
                        "in": "query",
                        "description": "Flag to state if all versions of given custom integration need to be exported",
                        "required": false,
                        "type": "string",
                        "default": "false"
                    },
                    {
                        "name": "exportOnlyReleasedCustomIntegrationVersions",
                        "in": "query",
                        "description": "Flag to state if only released versions of given custom integration need to be exported",
                        "required": false,
                        "type": "string",
                        "default": "false"
                    },
                    {
                        "name": "pipeline",
                        "in": "query",
                        "description": "Name of the Pipeline to be exported. Here, all endpoints referred in the pipeline also get exported",
                        "required": false,
                        "type": "string",
                        "default": "Deploy Production"
                    },
                    {
                        "name": "pipelines",
                        "in": "query",
                        "description": "Comma separated list of pipelines to be exported in a given project",
                        "required": false,
                        "type": "string",
                        "default": "Deploy Production, Dev"
                    },
                    {
                        "name": "project",
                        "in": "query",
                        "description": "Name of the Project to which Endpoint(s)/Pipeline(s) belong to",
                        "required": false,
                        "type": "string",
                        "default": "Project-1"
                    },
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /codestream/api/about",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": true
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Bearer token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "/codestream/api/gerrit-events": {
            "get": {
                "tags": [
                    "Triggers"
                ],
                "summary": "Get all Gerrit Events",
                "description": "Get all Gerrit Events",
                "operationId": "getAllGerritEventsUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "To list gerrit events with OData like filter",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order by attribute",
                        "required": false,
                        "type": "string",
                        "default": "name desc"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "To skip 'n' gerrit events for listing",
                        "required": false,
                        "type": "string",
                        "default": "0"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "To list top 'n' gerrit events for listing",
                        "required": false,
                        "type": "string",
                        "default": "25"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "To select 'n'th page for listing",
                        "required": false,
                        "type": "string",
                        "default": "0"
                    },
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /codestream/api/about",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": true
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Bearer token",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "'Success' with get of gerrit events",
                        "schema": {
                            "$ref": "#/definitions/GerritEvents"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "Triggers"
                ],
                "summary": "Manual trigger Gerrit event",
                "description": "Manual trigger Gerrit event",
                "operationId": "manualGerritEventTriggerUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /codestream/api/about",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": true
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Bearer token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "gerritManualTrigger",
                        "description": "gerritManualTrigger",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GerritManualTrigger"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "'Success' with Manual trigger Gerrit event",
                        "schema": {
                            "$ref": "#/definitions/ManualTriggerResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized Request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "deprecated": false
            }
        },
        "/codestream/api/gerrit-events/{id}": {
            "get": {
                "tags": [
                    "Triggers"
                ],
[...]
