{
    "swagger": "2.0",
    "info": {
        "description": "Documentation of the CMX service APIs",
        "version": "2019-09-12",
        "title": "CMX Service APIs"
    },
    "host": "api.mgmt.cloud.vmware.com",
    "basePath": "/",
    "tags": [
        {
            "name": "Cluster Plans",
            "description": "Cluster Plan Controller"
        },
        {
            "name": "Kubernetes Clusters",
            "description": "K 8 S Cluster Controller"
        },
        {
            "name": "Kubernetes Zones",
            "description": "K 8 S Zone Controller"
        },
        {
            "name": "Limit Ranges",
            "description": "K 8 S Limit Range Controller"
        },
        {
            "name": "Namespaces",
            "description": "K 8 S Namespace Controller"
        },
        {
            "name": "PKS Endpoints",
            "description": "PKS Endpoint Controller"
        },
        {
            "name": "Projects",
            "description": "Project Controller"
        },
        {
            "name": "Provider Requests",
            "description": "Provider Request Controller"
        },
        {
            "name": "Resource Quotas",
            "description": "K 8 S Resource Quota Controller"
        },
        {
            "name": "Supervisor Clusters",
            "description": "Supervisor Cluster Controller"
        },
        {
            "name": "Supervisor Namespaces",
            "description": "Supervisor Namespace Controller"
        },
        {
            "name": "vSphere Endpoints",
            "description": "Vsphere Endpoint Controller"
        }
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/cmx/api/projects/{projectId}/entity-count": {
            "get": {
                "tags": [
                    "Projects"
                ],
                "summary": "Retrieve the count of entities per project",
                "description": "Get all entities for a project by providing a project id",
                "operationId": "countOfEntitiesInProjectUsingGET",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "projectId",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/requests/blueprint/blueprint-provider-request": {
            "post": {
                "tags": [
                    "Provider Requests"
                ],
                "summary": "Handle blueprint resources requests",
                "description": "Handles blueprint requests for resource operations - allocation, provisioning, removal",
                "operationId": "postUsingPOST",
                "parameters": [
                    {
                        "in": "body",
                        "name": "request",
                        "description": "request",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ResourceRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResourceResponse"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "patch": {
                "tags": [
                    "Provider Requests"
                ],
                "summary": "Handles unfinished requests",
                "description": "Handles unfinished requests that are stopped because of service shutdown or a service outage.",
                "operationId": "patchUsingPATCH",
                "parameters": [
                    {
                        "in": "body",
                        "name": "rr",
                        "description": "rr",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ResumeRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResourceResponse"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/cluster-plans": {
            "get": {
                "tags": [
                    "Cluster Plans"
                ],
                "summary": "Search a cluster plan instance",
                "description": "Search a cluster plan by name and cloud account document self link id.",
                "operationId": "searchClusterPlansUsingGET",
                "parameters": [
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "paged",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "sort.sorted",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "sort.unsorted",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "unpaged",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "cloudAccountSelfLinkId",
                        "in": "query",
                        "description": "cloudAccountSelfLinkId",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "name",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PageOfClusterPlan"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "post": {
                "tags": [
                    "Cluster Plans"
                ],
                "summary": "Create a cluster plan",
                "description": "The body shall contain a cluster plan entity.",
                "operationId": "createUsingPOST",
                "parameters": [
                    {
                        "in": "body",
                        "name": "plan",
                        "description": "plan",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ClusterPlan"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ClusterPlan"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/cluster-plans/{id}": {
            "get": {
                "tags": [
                    "Cluster Plans"
                ],
                "summary": "Get a Cluster Plan by Id",
                "description": "Get a Cluster Plan by Id",
                "operationId": "getUsingGET",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ClusterPlan"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "put": {
                "tags": [
                    "Cluster Plans"
                ],
                "summary": "Update a cluster plan",
                "description": "The body shall contains the cluster plan mutation entity.",
                "operationId": "updateUsingPUT",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "body",
                        "name": "plan",
                        "description": "plan",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ClusterPlan"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ClusterPlan"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "Cluster Plans"
                ],
                "summary": "Delete a Cluster Plan by Id",
                "description": "Delete a Cluster Plan identified by id string",
                "operationId": "deleteUsingDELETE",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/k8s-zones": {
            "get": {
                "tags": [
                    "Kubernetes Zones"
                ],
                "summary": "Get all K8S Zones",
                "description": "List of all K8S Zones",
                "operationId": "listZonesUsingGET",
                "parameters": [
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "paged",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "sort.sorted",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "sort.unsorted",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "unpaged",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "expandTags",
                        "in": "query",
                        "description": "expandTags",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "projectId",
                        "in": "query",
                        "description": "projectId",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PageOfK8SZone"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "post": {
                "tags": [
                    "Kubernetes Zones"
                ],
                "summary": "Create a K8S Zone",
                "description": "Create a K8S Zone entity",
                "operationId": "createZoneUsingPOST",
                "parameters": [
                    {
                        "in": "body",
                        "name": "zone",
                        "description": "zone",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/K8SZone"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/K8SZone"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/k8s-zones/{id}": {
            "get": {
                "tags": [
                    "Kubernetes Zones"
                ],
                "summary": "Get a K8S Zone",
                "description": "Get a K8S Zone by Id",
                "operationId": "getZoneUsingGET",
                "parameters": [
                    {
                        "name": "expandTags",
                        "in": "query",
                        "description": "expandTags",
                        "required": false,
                        "type": "boolean",
                        "default": true
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/K8SZone"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "put": {
                "tags": [
                    "Kubernetes Zones"
                ],
                "summary": "Update a K8S Zone",
                "description": "Modify a K8S Zone",
                "operationId": "updateZoneUsingPUT",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "body",
                        "name": "zone",
                        "description": "zone",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/K8SZone"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/K8SZone"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "Kubernetes Zones"
                ],
                "summary": "Delete a K8S Zone",
                "description": "Remove a K8S Zone",
                "operationId": "deleteZoneUsingDELETE",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/k8s-zones/{id}/projects": {
            "put": {
                "tags": [
                    "Kubernetes Zones"
                ],
                "summary": "Update a K8S Zone project assignments",
                "description": "Assignment of projects to K8S Zone",
                "operationId": "updateZoneProjectsUsingPUT",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "body",
                        "name": "projects",
                        "description": "projects",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/K8SZoneProjectAssignment"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/K8SZone"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/k8s/clusters": {
            "get": {
                "tags": [
                    "Kubernetes Clusters"
                ],
                "summary": "Get all registered K8S Clusters",
                "description": "Retrieve the managed K8S Clusters ",
                "operationId": "listUsingGET",
                "parameters": [
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "paged",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "sort.sorted",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "sort.unsorted",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "unpaged",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PageOfK8SCluster"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "post": {
                "tags": [
                    "Kubernetes Clusters"
                ],
                "summary": "Onboard a K8S Cluster",
                "description": "Onboard a K8S Cluster entity",
                "operationId": "onboardUsingPOST",
                "parameters": [
                    {
                        "in": "body",
                        "name": "cluster",
                        "description": "cluster",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/K8SCluster"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/K8SCluster"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/k8s/clusters/validate": {
            "put": {
                "tags": [
                    "Kubernetes Clusters"
                ],
                "summary": "Validate provided K8S Cluster entity",
                "description": "Validate provided K8S Cluster entity",
                "operationId": "validateUsingPUT",
                "parameters": [
                    {
                        "in": "body",
                        "name": "cluster",
                        "description": "cluster",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/K8SCluster"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/K8sClusterState"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/k8s/clusters/{id}": {
            "get": {
                "tags": [
                    "Kubernetes Clusters"
                ],
                "summary": "Find a K8S Cluster by id",
                "description": "Retrieve a K8S by id",
                "operationId": "getClusterUsingGET",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/K8SCluster"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "put": {
                "tags": [
                    "Kubernetes Clusters"
                ],
                "summary": "Update a K8S Cluster",
                "description": "Update K8S Cluster by id",
                "operationId": "updateUsingPUT_1",
                "parameters": [
                    {
                        "in": "body",
                        "name": "cluster",
                        "description": "cluster",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/K8SCluster"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/K8SCluster"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "Kubernetes Clusters"
                ],
                "summary": "Delete a K8S Cluster",
                "description": "Delete a K8S Cluster by provided id",
                "operationId": "deleteClusterUsingDELETE",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/k8s/clusters/{id}/destroy": {
            "delete": {
                "tags": [
                    "Kubernetes Clusters"
                ],
                "summary": "Destroy a K8S Cluster",
                "description": "Destroy a K8S Cluster by provided id",
                "operationId": "destroyClusterUsingDELETE",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/k8s/clusters/{id}/kube-config": {
            "get": {
                "tags": [
                    "Kubernetes Clusters"
                ],
                "summary": "Get a KubeConfig for a K8S Cluster",
                "description": "Get a KubeConfig for a K8S Cluster by provided id",
                "operationId": "getKubeConfigUsingGET",
                "produces": [
                    "application/yaml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "includeCredentials",
                        "in": "query",
                        "description": "includeCredentials",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseEntity"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/k8s/clusters/{id}/nodes": {
            "get": {
                "tags": [
                    "Kubernetes Clusters"
                ],
                "summary": "Get nodes of K8S Clusters",
                "description": "Get nodes of K8S Clusters by provided id",
                "operationId": "getNodesUsingGET",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/NodeList"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/k8s/namespaces": {
            "get": {
                "tags": [
                    "Namespaces"
                ],
                "summary": "Get All K8S Namespaces",
                "description": "Get a list of all K8S Namespaces",
                "operationId": "listUsingGET_2",
                "parameters": [
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "paged",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "sort.sorted",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "sort.unsorted",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "unpaged",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PageOfK8SNamespace"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "post": {
                "tags": [
                    "Namespaces"
                ],
                "summary": "Create a K8S Namespace",
                "description": "Create a K8S Namespace",
                "operationId": "createUsingPOST_1",
                "parameters": [
                    {
                        "in": "body",
                        "name": "namespace",
                        "description": "namespace",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/K8SNamespace"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/K8SNamespace"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/k8s/namespaces/{id}": {
            "get": {
                "tags": [
                    "Namespaces"
                ],
                "summary": "Get a K8S Namespace by id",
                "description": "Get a K8S Namespace by id",
                "operationId": "getUsingGET_2",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/K8SNamespace"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "put": {
                "tags": [
                    "Namespaces"
                ],
                "summary": "Update a K8S Namespace description or project",
                "description": "Update a K8S Namespace description or project by providing namespace id and Namespace entity",
                "operationId": "updateUsingPUT_2",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "body",
                        "name": "namespace",
                        "description": "namespace",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/K8SNamespace"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/K8SNamespace"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "Namespaces"
                ],
                "summary": "Delete a K8S Namespace",
                "description": "Delete a K8S Namespace by id",
                "operationId": "deleteUsingDELETE_1",
                "parameters": [
                    {
                        "name": "destroy",
                        "in": "query",
                        "description": "destroy",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/k8s/namespaces/{id}/kube-config": {
            "get": {
                "tags": [
                    "Namespaces"
                ],
                "summary": "Get KubeConfig for a K8S Namesapce",
                "description": "Get KubeConfig for a K8S Namesapce by providing a K8S Namespace id",
                "operationId": "getKubeConfigUsingGET_1",
                "produces": [
                    "application/yaml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseEntity"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/k8s/namespaces/{id}/register": {
            "put": {
                "tags": [
                    "Namespaces"
                ],
                "summary": "Onboard existing K8S Namespace",
                "description": "Onboard existing K8S Namespace by providing namespace id and entity",
                "operationId": "registerUsingPUT",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "body",
                        "name": "namespaceState",
                        "description": "namespaceState",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/K8SNamespace"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/K8SNamespace"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/limit-ranges": {
            "get": {
                "tags": [
                    "Limit Ranges"
                ],
                "summary": "Get All K8S LimitRanges",
                "description": "Get a list of all K8S LimitRanges",
                "operationId": "listUsingGET_1",
                "parameters": [
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "paged",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "sort.sorted",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "sort.unsorted",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "unpaged",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PageOfK8SLimitRange"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/limit-ranges/{id}": {
            "get": {
                "tags": [
                    "Limit Ranges"
                ],
                "summary": "Get a K8S LimitRange by id",
                "description": "Get a K8S LimitRange by id",
                "operationId": "getUsingGET_1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/K8SLimitRange"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/pks/endpoints/{id}/clusters": {
            "get": {
                "tags": [
                    "PKS Endpoints"
                ],
                "summary": "Get all K8S clusters for a PKS endpoint",
                "description": "Get all K8S clusters for a PKS endpoint by provided PKS endpoint id",
                "operationId": "getClustersUsingGET",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/PKSCluster"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "post": {
                "tags": [
                    "PKS Endpoints"
                ],
                "summary": "Create a K8S cluster",
                "description": "Create a K8S cluster on PKS endpoint specified by endpoint id",
                "operationId": "createClusterUsingPOST",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "pksCluster",
                        "description": "pksCluster",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PKSCluster"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/K8SCluster"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/pks/endpoints/{id}/clusters/{clusterId}": {
            "put": {
                "tags": [
                    "PKS Endpoints"
                ],
                "summary": "Update a K8S cluster on a specific endpoint id",
                "description": "Update a K8S cluster on a PKS endpoint identified by id",
                "operationId": "updateClusterUsingPUT",
                "parameters": [
                    {
                        "name": "clusterId",
                        "in": "path",
                        "description": "clusterId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "pksCluster",
                        "description": "pksCluster",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PKSCluster"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/K8SCluster"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "PKS Endpoints"
                ],
                "summary": "Destroy a K8S cluster on a specific PKS endpoint",
                "description": "Destroy and unregister a K8S cluster on PKS endpoint",
                "operationId": "destroyClusterUsingDELETE_1",
                "parameters": [
                    {
                        "name": "clusterId",
                        "in": "path",
                        "description": "clusterId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/pks/endpoints/{id}/plans": {
            "get": {
                "tags": [
                    "PKS Endpoints"
                ],
                "summary": "Get supported plans for a PKS endpoint",
                "description": "Get supported plans by providing PKS endpoint id",
                "operationId": "getPlansUsingGET",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/PKSPlan"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/resource-quotas": {
            "get": {
                "tags": [
                    "Resource Quotas"
                ],
                "summary": "Get All K8S ResourceQuotas",
                "description": "Get a list of all K8S ResourceQuotas",
                "operationId": "listUsingGET_3",
                "parameters": [
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "paged",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "sort.sorted",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "sort.unsorted",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "unpaged",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PageOfK8SResourceQuota"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/resource-quotas/{id}": {
            "get": {
                "tags": [
                    "Resource Quotas"
                ],
                "summary": "Get a K8S ResourceQuota by id",
                "description": "Get a K8S ResourceQuota by id",
                "operationId": "getUsingGET_3",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/K8SResourceQuota"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/supervisor-clusters": {
            "get": {
                "tags": [
                    "Supervisor Clusters"
                ],
                "summary": "Get all managed Supervisor Clusters",
                "description": "Get all managed Supervisor Clusters",
                "operationId": "listUsingGET_4",
                "parameters": [
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "paged",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "sort.sorted",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "sort.unsorted",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "unpaged",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PageOfSupervisorCluster"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/supervisor-clusters/endpoint/{endpointSelfLinkId}": {
            "get": {
                "tags": [
                    "Supervisor Clusters"
                ],
                "summary": "Get all Supervisor Clusters on a vSphere endpoint",
                "description": "Get all Supervisor Clusters on a vSphere endpoint by provided id from the endpoint self link",
                "operationId": "listClustersOnEndpointUsingGET",
                "parameters": [
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "paged",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "sort.sorted",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "sort.unsorted",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "unpaged",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "endpointSelfLinkId",
                        "in": "path",
                        "description": "endpointSelfLinkId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "registered",
                        "in": "query",
                        "description": "registered",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PageOfSupervisorCluster"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/supervisor-clusters/endpoint/{endpointSelfLinkId}/cluster/{moref}": {
            "get": {
                "tags": [
                    "Supervisor Clusters"
                ],
                "summary": "Find a Supervisor Cluster by vSphere moref and vSphere endpoint id",
                "description": "Retrieve a Supervisor Cluster by vSphere moref and id from the endpoint self link of the vSphere endpoint this cluster is associated to",
                "operationId": "getClusterUsingGET_1",
                "parameters": [
                    {
                        "name": "endpointSelfLinkId",
                        "in": "path",
                        "description": "endpointSelfLinkId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "moref",
                        "in": "path",
                        "description": "moref",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SupervisorCluster"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/supervisor-clusters/{clusterSelfLinkId}": {
            "delete": {
                "tags": [
                    "Supervisor Clusters"
                ],
                "summary": "Make a Supervisor Cluster an unmanaged entity",
                "description": "A valid document self link id shall be provided.",
                "operationId": "unregisterUsingDELETE",
                "parameters": [
                    {
                        "name": "clusterSelfLinkId",
                        "in": "path",
                        "description": "clusterSelfLinkId",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/supervisor-clusters/{clusterSelfLinkId}/register": {
            "put": {
                "tags": [
                    "Supervisor Clusters"
                ],
                "summary": "Make a Supervisor Cluster a managed entity",
                "description": "A valid document self link id shall be provided.",
                "operationId": "registerUsingPUT_1",
                "parameters": [
                    {
                        "name": "clusterSelfLinkId",
                        "in": "path",
                        "description": "clusterSelfLinkId",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SupervisorCluster"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/supervisor-clusters/{selfLinkId}": {
            "get": {
                "tags": [
                    "Supervisor Clusters"
                ],
                "summary": "Find a Supervisor Cluster by the id from documentSelfLink",
                "description": "Retrieve a Supervisor Cluster by id from documentSelfLink",
                "operationId": "getClusterUsingGET_2",
                "parameters": [
                    {
                        "name": "selfLinkId",
                        "in": "path",
                        "description": "selfLinkId",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SupervisorCluster"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/supervisor-namespaces": {
            "get": {
                "tags": [
                    "Supervisor Namespaces"
                ],
                "summary": "Get all Supervisor Namespaces",
                "description": "Get all Supervisor Namespaces",
                "operationId": "listUsingGET_5",
                "parameters": [
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "paged",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "sort.sorted",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "sort.unsorted",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "unpaged",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "clusterSelfLinkId",
                        "in": "query",
                        "description": "clusterSelfLinkId",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "registered",
                        "in": "query",
                        "description": "registered",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PageOfSupervisorNamespace"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "post": {
                "tags": [
                    "Supervisor Namespaces"
                ],
                "summary": "Create Supervisor Namespace",
                "description": "Create Supervisor Namespace",
                "operationId": "createUsingPOST_2",
                "parameters": [
                    {
                        "in": "body",
                        "name": "dto",
                        "description": "dto",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SupervisorNamespaceCreateDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SupervisorNamespace"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/supervisor-namespaces/{namespaceSelfLinkId}/principals": {
            "post": {
                "tags": [
                    "Supervisor Namespaces"
                ],
                "summary": "Sync Supervisor Namespace principals access list",
                "description": "The body shall contain list of viewer and editor user and groups.",
                "operationId": "syncUsingPOST",
                "parameters": [
                    {
                        "in": "body",
                        "name": "accessList",
                        "description": "accessList",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/SupervisorNamespaceSyncRequestDTO"
                        }
                    },
                    {
                        "name": "namespaceSelfLinkId",
                        "in": "path",
                        "description": "namespaceSelfLinkId",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SupervisorNamespaceSyncResponseDTO"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/supervisor-namespaces/{namespaceSelfLinkId}/principals/{requestId}": {
            "get": {
                "tags": [
                    "Supervisor Namespaces"
                ],
                "summary": "Retrieve sync status",
                "description": "Retrieve sync status.",
                "operationId": "syncStatusUsingGET",
                "parameters": [
                    {
                        "name": "namespaceSelfLinkId",
                        "in": "path",
                        "description": "namespaceSelfLinkId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "requestId",
                        "in": "path",
                        "description": "requestId",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SupervisorNamespaceSyncResponseDTO"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/supervisor-namespaces/{namespaceSelfLinkId}/register": {
            "put": {
                "tags": [
                    "Supervisor Namespaces"
                ],
                "summary": "Make a Supervisor Namespace a managed entity",
                "description": "The body shall contain valid projectId, DocumentSelfLink and list of viewer and editor user and groups.",
                "operationId": "registerUsingPUT_2",
                "parameters": [
                    {
                        "name": "namespaceSelfLinkId",
                        "in": "path",
                        "description": "namespaceSelfLinkId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "svNamespace",
                        "description": "svNamespace",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SupervisorNamespace"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SupervisorNamespace"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/supervisor-namespaces/{selfLinkId}": {
            "get": {
                "tags": [
                    "Supervisor Namespaces"
                ],
                "summary": "Find a Supervisor Namespace by the id from documentSelfLink",
                "description": "Retrieve a Supervisor Namespace by id from documentSelfLink",
                "operationId": "getNamespaceUsingGET",
                "parameters": [
                    {
                        "name": "expandStorage",
                        "in": "query",
                        "description": "expandStorage",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "selfLinkId",
                        "in": "path",
                        "description": "selfLinkId",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SupervisorNamespace"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "Supervisor Namespaces"
                ],
                "summary": "Make not managed a Supervisor Namespace and optionally delete it",
                "description": "Make not managed a Supervisor Namespace and delete it from cluster if destroy parameter is true",
                "operationId": "deleteUsingDELETE_2",
                "parameters": [
                    {
                        "name": "destroy",
                        "in": "query",
                        "description": "destroy",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "selfLinkId",
                        "in": "path",
                        "description": "selfLinkId",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "patch": {
                "tags": [
                    "Supervisor Namespaces"
                ],
                "summary": "Update Supervisor Namespace",
                "description": "Update Supervisor Namespace",
                "operationId": "updateUsingPATCH",
                "parameters": [
                    {
                        "name": "selfLinkId",
                        "in": "path",
                        "description": "selfLinkId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "svNamespaceDto",
                        "description": "svNamespaceDto",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SupervisorNamespaceUpdateDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SupervisorNamespace"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/supervisor-namespaces/{selfLinkId}/resource-quotas": {
            "get": {
                "tags": [
                    "Supervisor Namespaces"
                ],
                "summary": "Get Supervisor Namespace Quotas by the id from documentSelfLink",
                "description": "Retrieve a Supervisor Namespace Quota by id from documentSelfLink",
                "operationId": "getNamespaceQuotasUsingGET",
                "parameters": [
                    {
                        "name": "selfLinkId",
                        "in": "path",
                        "description": "selfLinkId",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SupervisorNamespaceQuota"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "put": {
                "tags": [
                    "Supervisor Namespaces"
                ],
                "summary": "Set Supervisor Namespace Quotas by the id from documentSelfLink",
                "description": "Set a Supervisor Namespace Quota by id from documentSelfLink",
                "operationId": "setNamespaceQuotasUsingPUT",
                "parameters": [
                    {
                        "in": "body",
                        "name": "quotas",
                        "description": "quotas",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SupervisorNamespaceQuota"
                            }
                        }
                    },
                    {
                        "name": "selfLinkId",
                        "in": "path",
                        "description": "selfLinkId",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SupervisorNamespaceQuota"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/vsphere/endpoints/{endpointSelfLinkId}/storage-classes": {
            "get": {
                "tags": [
                    "vSphere Endpoints"
                ],
                "summary": "Get all storage classes identifiers for a vSphere endpoint",
                "description": "Get all storage classes defined in all managed supervisor clusters in a particular vSphere instnce. vSphere instnace is identified by endpoint SelfLink Id",
                "operationId": "getStorageClassesUsingGET",
                "parameters": [
                    {
                        "name": "endpointSelfLinkId",
                        "in": "path",
                        "description": "endpointSelfLinkId",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        }
    },
    "securityDefinitions": {
        "Bearer": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    },
    "definitions": {
        "AuthCredentialsServiceState": {
            "type": "object",
            "properties": {
                "bearer": {
                    "type": "boolean"
                },
                "customProperties": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "documentSelfLink": {
                    "type": "string"
                },
                "password": {
                    "type": "boolean"
                },
                "privateKey": {
                    "type": "string"
                },
                "privateKeyId": {
                    "type": "string"
                },
                "publicKey": {
                    "type": "string"
                },
                "tenantLinks": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "type": {
                    "type": "string"
                },
                "userEmail": {
                    "type": "string"
                }
            },
            "title": "AuthCredentialsServiceState"
        },
        "AuthorizationContext": {
            "type": "object",
            "properties": {
                "claims": {
                    "$ref": "#/definitions/Claims"
                },
                "guestUser": {
                    "type": "boolean"
                },
                "systemUser": {
                    "type": "boolean"
                },
                "token": {
                    "type": "string"
                }
            },
            "title": "AuthorizationContext"
        },
        "Claims": {
            "type": "object",
            "properties": {
                "audience": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "expirationTime": {
                    "type": "integer",
                    "format": "int64"
                },
                "issuedAt": {
                    "type": "integer",
                    "format": "int64"
                },
                "issuer": {
                    "type": "string"
                },
                "jwtId": {
                    "type": "string"
                },
                "notBefore": {
                    "type": "integer",
                    "format": "int64"
                },
                "properties": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "subject": {
                    "type": "string"
                }
            },
            "title": "Claims"
        },
        "ClusterPlan": {
            "type": "object",
            "properties": {
                "cloudAccountSelfLinkId": {
                    "type": "string"
                },
                "createdMillis": {
                    "type": "integer",
                    "format": "int64"
                },
                "definition": {
                    "type": "object"
                },
                "description": {
                    "type": "string"
                },
                "id": {
                    "type": "string",
                    "format": "uuid"
                },
                "name": {
                    "type": "string"
                },
                "orgId": {
                    "type": "string"
                },
                "type": {
                    "type": "string",
                    "enum": [
                        "TANZU_CLUSTER_PLAN"
                    ]
                },
                "updatedMillis": {
                    "type": "integer",
                    "format": "int64"
                }
            },
            "title": "ClusterPlan"
        },
        "CompletionHandler": {
            "type": "object",
            "title": "CompletionHandler"
        },
        "K8SCluster": {
            "type": "object",
            "properties": {
                "address": {
                    "type": "string"
                },
                "authCredentialsLink": {
                    "type": "string"
                },
                "caCertificate": {
                    "type": "string"
                },
                "clusterType": {
                    "type": "string"
                },
                "content": {
                    "type": "string"
                },
                "createdMillis": {
                    "type": "integer",
                    "format": "int64"
                },
                "credentials": {
                    "$ref": "#/definitions/AuthCredentialsServiceState"
                },
                "customProperties": {
                    "type": "object"
                },
                "description": {
                    "type": "string"
                },
                "directConnection": {
                    "type": "boolean"
                },
                "endpointId": {
                    "type": "string"
                },
                "externalLink": {
                    "type": "string"
                },
                "global": {
                    "type": "boolean"
                },
                "id": {
                    "type": "string",
                    "format": "uuid"
                },
                "installerId": {
                    "type": "string",
                    "format": "uuid"
                },
                "kubernetesWorkerInstances": {
                    "type": "integer",
                    "format": "int32"
                },
                "lastOperation": {
                    "type": "string"
                },
                "lastOperationMessage": {
                    "type": "string"
                },
                "lastOperationStatus": {
                    "type": "string"
                },
                "lastRefreshedMillis": {
                    "type": "integer",
                    "format": "int64"
                },
                "name": {
                    "type": "string"
                },
                "nodes": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/K8SNode"
                    }
                },
                "orgId": {
                    "type": "string"
                },
                "owner": {
                    "type": "string"
                },
                "projectId": {
                    "type": "string"
                },
                "remainingUnreachableRetryThreshold": {
                    "type": "integer",
                    "format": "int32"
                },
                "shared": {
                    "type": "boolean"
                },
                "status": {
                    "type": "string"
                },
                "updatedMillis": {
                    "type": "integer",
                    "format": "int64"
                },
                "version": {
                    "type": "string"
                }
            },
            "title": "K8SCluster"
        },
        "K8SLimitRange": {
            "type": "object",
            "properties": {
                "active": {
                    "type": "boolean"
                },
                "clusterId": {
                    "type": "string",
                    "format": "uuid"
                },
                "createdMillis": {
                    "type": "integer",
                    "format": "int64"
                },
                "definition": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "id": {
                    "type": "string",
                    "format": "uuid"
                },
                "managed": {
                    "type": "boolean"
                },
                "name": {
                    "type": "string"
                },
                "namespaceId": {
                    "type": "string",
                    "format": "uuid"
                },
                "namespaceName": {
                    "type": "string"
                },
                "orgId": {
                    "type": "string"
                },
                "resource": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                },
                "updatedMillis": {
                    "type": "integer",
                    "format": "int64"
                }
            },
            "title": "K8SLimitRange"
        },
        "K8SNamespace": {
            "type": "object",
            "properties": {
[...]
