{
    "swagger": "2.0",
    "info": {
        "description": "APIs for Content and Source Control Integration",
        "version": "2019-01-15",
        "title": "VMware Cloud Assembly Content APIs",
        "license": {
            "name": "Copyright (c) 2022 VMware, Inc. All Rights Reserved.",
            "url": "https://www.vmware.com/cloud-solutions.html"
        }
    },
    "host": "api.mgmt.cloud.vmware.com",
    "basePath": "/",
    "tags": [
        {
            "name": "About",
            "description": "About API"
        },
        {
            "name": "Content Source",
            "description": "Content Source API"
        },
        {
            "name": "Source Control Sync",
            "description": "Source Control Sync API"
        },
        {
            "name": "VCF",
            "description": "VCF Operations"
        }
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/content/api/about": {
            "get": {
                "tags": [
                    "About"
                ],
                "summary": "Returns content API information",
                "description": "The page contains information about the supported API versions and the latest API version. The version parameter is optional but highly recommended.\nIf you do not specify explicitly an exact version, you will be calling the latest supported API version.\nHere is an example of a call which specifies the exact version you are using: GET /content/api/sources?apiVersion=2019-01-15",
                "operationId": "getAboutUsingGET",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ContentAbout"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/content/api/sourcecontrol/sync-all-requests": {
            "post": {
                "tags": [
                    "Source Control Sync"
                ],
                "summary": "Submit sync request for the projects",
                "description": "Request sync for the sources belonging to the user's projects or specified projects",
                "operationId": "scheduleSyncAllUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information, please refer to /content/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "request",
                        "description": "request",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/SourceControlSyncAllRequest"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Submitted sync requests",
                        "schema": {
                            "$ref": "#/definitions/SourceControlSyncRequests"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/content/api/sourcecontrol/sync-history": {
            "get": {
                "tags": [
                    "Source Control Sync"
                ],
                "summary": "Get sync history",
                "description": "Get history for files synced via source control sync",
                "operationId": "syncHistoryUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information, please refer to /content/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "contentName",
                        "in": "query",
                        "description": "Search based on content name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "contentType",
                        "in": "query",
                        "description": "Search based on content type",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "integrationId",
                        "in": "query",
                        "description": "Search based on integration id",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "projectIds",
                        "in": "query",
                        "description": "Search based on project ids",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "requestId",
                        "in": "query",
                        "description": "Search based on request Id",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "sourceIds",
                        "in": "query",
                        "description": "Search based on content source ids",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Search based on sync status",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Sync history",
                        "schema": {
                            "$ref": "#/definitions/SourceControlSyncHistory"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/content/api/sourcecontrol/sync-requests": {
            "post": {
                "tags": [
                    "Source Control Sync"
                ],
                "summary": "Creates a sync request",
                "description": "Request sync for a content source",
                "operationId": "scheduleSyncUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information, please refer to /content/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "request",
                        "description": "request",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SourceControlSyncRequest"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Submitted sync requests",
                        "schema": {
                            "$ref": "#/definitions/SourceControlSyncRequest"
                        }
                    },
                    "404": {
                        "description": "source not found"
                    }
                },
                "deprecated": false
            }
        },
        "/content/api/sourcecontrol/sync-requests/{id}": {
            "get": {
                "tags": [
                    "Source Control Sync"
                ],
                "summary": "Get a sync request by id",
                "operationId": "getSyncRequestUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information, please refer to /content/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the sync request",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Sync request for id",
                        "schema": {
                            "$ref": "#/definitions/SourceControlSyncRequest"
                        }
                    },
                    "404": {
                        "description": "request not found"
                    }
                },
                "deprecated": false
            }
        },
        "/content/api/sources": {
            "get": {
                "tags": [
                    "Content Source"
                ],
                "summary": "Get content sources",
                "description": "Use filter parameters to narrow down the results",
                "operationId": "listContentSourcesUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information, please refer to /content/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "contentType",
                        "in": "query",
                        "description": "Search based on Content Type",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "BLUEPRINT",
                            "IMAGE",
                            "ABX_SCRIPTS",
                            "TERRAFORM_CONFIGURATION"
                        ]
                    },
                    {
                        "name": "integrationId",
                        "in": "query",
                        "description": "Search based on integrationId",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Search based on Content Source name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "projectIds",
                        "in": "query",
                        "description": "Search based on associated projects",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "repository",
                        "in": "query",
                        "description": "Search based on repository",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search based on name or repository",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "syncEnabled",
                        "in": "query",
                        "description": "Search based on whether sync is enabled or not",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "typeIds",
                        "in": "query",
                        "description": "Search based on Content Source Type Ids",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string",
                            "enum": [
                                "com.gitlab",
                                "com.github",
                                "com.github.enterprise",
                                "com.vmware.marketplace"
                            ]
                        },
                        "collectionFormat": "multi",
                        "enum": [
                            "com.gitlab",
                            "com.github",
                            "com.github.enterprise",
                            "com.vmware.marketplace"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Content sources",
                        "schema": {
                            "$ref": "#/definitions/ContentSources"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "Content Source"
                ],
                "summary": "Create a Content source",
                "description": "Returns the new content source",
                "operationId": "createContentSourceUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information, please refer to /content/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "source",
                        "description": "source",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ContentSource"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created content source",
                        "schema": {
                            "$ref": "#/definitions/ContentSource"
                        }
                    },
                    "400": {
                        "description": "Invalid request data"
                    },
                    "403": {
                        "description": "Invalid project id or integration id"
                    }
                },
                "deprecated": false
            }
        },
        "/content/api/sources/{id}": {
            "get": {
                "tags": [
                    "Content Source"
                ],
                "summary": "Get a content source",
                "operationId": "getContentSourceUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information, please refer to /content/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the content source",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Content source",
                        "schema": {
                            "$ref": "#/definitions/ContentSource"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Content source not found"
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "Content Source"
                ],
                "summary": "Delete a content source",
                "operationId": "deleteContentSourceUsingDELETE",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information, please refer to /content/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the content source",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/content/api/vcf/domains-enumeration": {
            "post": {
                "tags": [
                    "VCF"
                ],
                "summary": "Enumerate Domains",
                "operationId": "enumerateDomainsUsingPOST",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "input",
                        "description": "input",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PhotonModelEndpointConfigRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get domains of the vCF endpoint",
                        "schema": {
                            "$ref": "#/definitions/VcfDomains"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "deprecated": false
            }
        },
        "/content/api/vcf/{integrationId}/domain/{domainId}": {
            "get": {
                "tags": [
                    "VCF"
                ],
                "summary": "Get Domain Details",
                "operationId": "getDomainUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "domainId",
                        "in": "path",
                        "description": "domainId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "integrationId",
                        "in": "path",
                        "description": "integrationId",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get domain detail",
                        "schema": {
                            "$ref": "#/definitions/VcfDomain"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "deprecated": false
            }
        },
        "/content/api/vcf/{integrationId}/domain/{domainId}/service-accounts": {
            "post": {
                "tags": [
                    "VCF"
                ],
                "summary": "Create Service Credentials",
                "operationId": "createServiceCredentialsUsingPOST",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "domainId",
                        "in": "path",
                        "description": "domainId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "integrationId",
                        "in": "path",
                        "description": "integrationId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "request",
                        "description": "request",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/VcfCredentialRequests"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Create Service credentials",
                        "schema": {
                            "$ref": "#/definitions/VcfServiceCredentialCreationResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "VCF"
                ],
                "summary": "Delete a service account",
                "operationId": "deleteServiceAccountUsingDELETE",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "domainId",
                        "in": "path",
                        "description": "domainId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "integrationId",
                        "in": "path",
                        "description": "integrationId",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "patch": {
                "tags": [
                    "VCF"
                ],
                "summary": "Patch a service account",
                "operationId": "patchServiceAccountUsingPATCH",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "domainId",
                        "in": "path",
                        "description": "domainId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "integrationId",
                        "in": "path",
                        "description": "integrationId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "patchRequest",
                        "description": "patchRequest",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/VcfServiceCredential"
                            }
                        }
                    },
                    "204": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/VcfServiceCredential"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/content/api/vcf/{integrationId}/domain/{domainId}/service-accounts/{id}": {
            "delete": {
                "tags": [
                    "VCF"
                ],
                "summary": "Delete a service credential",
                "operationId": "deleteServiceCredentialUsingDELETE",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "domainId",
                        "in": "path",
                        "description": "domainId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "integrationId",
                        "in": "path",
                        "description": "integrationId",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/content/api/vcf/{integrationId}/domains": {
            "get": {
                "tags": [
                    "VCF"
                ],
                "summary": "Get Domains",
                "operationId": "getDomainsUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "integrationId",
                        "in": "path",
                        "description": "integrationId",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get domains of the vCF endpoint",
                        "schema": {
                            "$ref": "#/definitions/VcfDomain"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "deprecated": false
            }
        }
    },
    "definitions": {
        "ContentAbout": {
            "type": "object",
            "properties": {
                "latestApiVersion": {
                    "type": "string",
                    "description": "Latest API Version",
                    "readOnly": true
                },
                "supportedApis": {
                    "type": "array",
                    "description": "Supported APIs",
                    "readOnly": true,
                    "items": {
                        "$ref": "#/definitions/SupportedApi"
                    }
                }
            },
            "title": "ContentAbout"
        },
        "ContentSource": {
            "type": "object",
            "required": [
                "id",
                "name",
                "projectId",
                "typeId"
            ],
            "properties": {
                "config": {
                    "type": "object",
                    "example": {
                        "contentType": "string",
                        "integrationId": "string",
                        "repository": "string",
                        "branch": "string",
                        "path": "string",
                        "endpointId": "string",
                        "requestScopeOrg": "boolean"
                    },
                    "description": "Source custom configuration"
                },
                "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Creation time",
                    "readOnly": true
                },
                "createdBy": {
                    "type": "string",
                    "description": "Created By",
                    "readOnly": true
                },
                "description": {
                    "type": "string",
                    "description": "Content Source description"
                },
                "id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Content Source id"
                },
                "lastUpdatedAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Update time",
                    "readOnly": true
                },
                "lastUpdatedBy": {
                    "type": "string",
                    "description": "Updated By",
                    "readOnly": true
                },
                "name": {
                    "type": "string",
                    "description": "Content Source name"
                },
                "orgId": {
                    "type": "string",
                    "description": "Associated org",
                    "readOnly": true
                },
                "projectId": {
                    "type": "string",
                    "description": "Associated projects"
                },
                "syncEnabled": {
                    "type": "boolean",
                    "example": false,
                    "description": "Is Sync Enabled"
                },
                "typeId": {
                    "type": "string",
                    "description": "Content Source type",
                    "enum": [
                        "com.github",
                        "com.github.enterprise",
                        "com.gitlab",
                        "org.bitbucket",
                        "com.vmware.marketplace"
                    ]
                }
            },
            "title": "ContentSource"
        },
        "ContentSources": {
            "type": "object",
            "properties": {
                "content": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ContentSource"
                    }
                },
                "links": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Link"
                    }
                },
                "page": {
                    "$ref": "#/definitions/PageMetadata"
                }
            },
            "title": "ContentSources"
        },
        "CustomProperties": {
            "type": "object",
            "properties": {
                "endpointId": {
                    "type": "string"
                },
                "isExternal": {
                    "type": "boolean"
                },
                "serviceAccountId": {
                    "type": "string"
                },
                "serviceAccountName": {
                    "type": "string"
                },
                "vcfDomainId": {
                    "type": "string"
                },
                "vcfDomainName": {
                    "type": "string"
                }
            },
            "title": "CustomProperties"
        },
        "EndpointProperties": {
            "type": "object",
            "properties": {
                "acceptSelfSignedCertificate": {
                    "type": "boolean"
                },
                "certificate": {
                    "type": "string"
                },
                "dcId": {
                    "type": "string"
                },
                "endpointId": {
                    "type": "string"
                },
                "hostName": {
                    "type": "string"
                },
                "privateKey": {
                    "type": "string"
                },
                "privateKeyId": {
                    "type": "string"
                },
                "server": {
                    "type": "string"
                },
                "serviceAccountId": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                },
                "useServiceCredentials": {
                    "type": "boolean"
                }
            },
            "title": "EndpointProperties"
        },
        "Link": {
            "type": "object",
            "properties": {
                "href": {
                    "type": "string"
                },
                "rel": {
                    "type": "string"
                }
            },
            "title": "Link"
        },
        "NsxAccount": {
            "type": "object",
            "properties": {
                "hostName": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                }
            },
            "title": "NsxAccount"
        },
        "PageMetadata": {
            "type": "object",
            "properties": {
                "number": {
                    "type": "integer",
                    "format": "int64"
                },
                "size": {
                    "type": "integer",
                    "format": "int64"
                },
                "totalElements": {
                    "type": "integer",
                    "format": "int64"
                },
                "totalPages": {
                    "type": "integer",
                    "format": "int64"
                }
            },
            "title": "PageMetadata"
        },
        "PhotonModelEndpointConfigRequest": {
            "type": "object",
            "properties": {
                "associatedEndpointLinks": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "authCredentialsLink": {
                    "type": "string"
                },
                "checkForEndpointUniqueness": {
                    "type": "boolean"
                },
                "customProperties": {
                    "$ref": "#/definitions/CustomProperties"
                },
                "endpointProperties": {
                    "$ref": "#/definitions/EndpointProperties"
                },
                "endpointType": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "requestType": {
                    "type": "string",
                    "enum": [
                        "VALIDATE",
                        "ENHANCE",
                        "CHECK_IF_ACCOUNT_EXISTS",
                        "VALIDATE_REMOVAL"
                    ]
                },
                "resourceLink": {
                    "type": "string"
                },
                "resourceReference": {
                    "$ref": "#/definitions/URI"
                },
                "taskReference": {
                    "$ref": "#/definitions/URI"
                },
                "tenantLinks": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            },
            "title": "PhotonModelEndpointConfigRequest"
        },
        "ServiceAccountRequest": {
            "type": "object",
            "properties": {
                "hostName": {
                    "type": "string"
                },
                "resourceId": {
                    "type": "string"
                },
                "resourceType": {
                    "type": "string"
                }
            },
            "title": "ServiceAccountRequest"
        },
        "SourceControlSyncAllRequest": {
            "type": "object",
            "properties": {
                "projectIds": {
                    "type": "array",
                    "description": "Project Ids",
                    "items": {
                        "type": "string"
                    }
                }
            },
            "title": "SourceControlSyncAllRequest"
        },
        "SourceControlSyncHistory": {
            "type": "object",
            "properties": {
                "content": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/SourceControlSyncHistoryItem"
                    }
                },
                "links": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Link"
                    }
                },
                "page": {
                    "$ref": "#/definitions/PageMetadata"
                }
            },
            "title": "SourceControlSyncHistory"
        },
        "SourceControlSyncHistoryItem": {
            "type": "object",
            "properties": {
                "contentFullPath": {
                    "type": "string",
                    "description": "Content Full Path",
                    "readOnly": true
                },
                "contentName": {
                    "type": "string",
                    "description": "Content Name",
                    "readOnly": true
                },
                "contentType": {
                    "type": "string",
                    "description": "Content Type",
                    "readOnly": true,
                    "enum": [
                        "BLUEPRINT",
                        "IMAGE",
                        "ABX_SCRIPTS",
                        "TERRAFORM_CONFIGURATION"
                    ]
                },
                "details": {
                    "type": "array",
                    "description": "Details",
                    "readOnly": true,
                    "items": {
                        "type": "string"
                    }
                },
                "id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Unique Id for the Source Control History"
                },
                "integrationId": {
                    "type": "string",
                    "description": "Integration Id",
                    "readOnly": true
                },
                "projectId": {
                    "type": "string",
                    "description": "Project Id",
                    "readOnly": true
                },
                "projectName": {
                    "type": "string",
                    "description": "Project Name",
                    "readOnly": true
                },
                "requestId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Id of the sync request"
                },
                "sourceId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Content source Id",
                    "readOnly": true
                },
                "status": {
                    "type": "string",
                    "description": "Status",
                    "readOnly": true
                },
                "timestamp": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp",
                    "readOnly": true
                }
            },
            "title": "SourceControlSyncHistoryItem"
        },
        "SourceControlSyncRequest": {
            "type": "object",
            "properties": {
                "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Created at",
                    "readOnly": true
                },
                "lastUpdatedAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Last Updated at",
                    "readOnly": true
                },
                "message": {
                    "type": "string",
                    "description": "Message",
                    "readOnly": true
                },
                "projectId": {
                    "type": "string",
                    "description": "Project Id",
                    "readOnly": true
                },
                "requestId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Request Id",
                    "readOnly": true
                },
                "sourceId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Content Source Id"
                },
                "status": {
                    "type": "string",
                    "description": "Status",
                    "readOnly": true,
                    "enum": [
                        "REQUESTED",
                        "STARTED",
                        "PROCESSING",
                        "COMPLETED",
                        "FAILED",
                        "SKIPPED"
                    ]
                }
            },
            "title": "SourceControlSyncRequest"
        },
        "SourceControlSyncRequests": {
            "type": "object",
            "properties": {
                "content": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/SourceControlSyncRequest"
                    }
                },
                "links": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Link"
                    }
                },
                "page": {
                    "$ref": "#/definitions/PageMetadata"
                }
            },
            "title": "SourceControlSyncRequests"
        },
        "SupportedApi": {
            "type": "object",
            "properties": {
                "apiVersion": {
                    "type": "string"
                }
            },
            "title": "SupportedApi"
        },
        "URI": {
            "type": "object",
            "properties": {
                "absolute": {
                    "type": "boolean"
                },
                "authority": {
                    "type": "string"
                },
                "fragment": {
                    "type": "string"
                },
                "host": {
                    "type": "string"
                },
                "opaque": {
                    "type": "boolean"
                },
                "path": {
                    "type": "string"
                },
                "port": {
                    "type": "integer",
                    "format": "int32"
                },
                "query": {
                    "type": "string"
                },
                "rawAuthority": {
                    "type": "string"
                },
                "rawFragment": {
                    "type": "string"
                },
                "rawPath": {
                    "type": "string"
                },
                "rawQuery": {
                    "type": "string"
                },
                "rawSchemeSpecificPart": {
                    "type": "string"
                },
                "rawUserInfo": {
                    "type": "string"
                },
                "scheme": {
                    "type": "string"
                },
                "schemeSpecificPart": {
                    "type": "string"
                },
                "userInfo": {
                    "type": "string"
                }
            },
            "title": "URI"
        },
        "VcfCredentialRequests": {
            "type": "object",
            "properties": {
                "credentials": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ServiceAccountRequest"
                    }
                }
            },
            "title": "VcfCredentialRequests"
        },
        "VcfDomain": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "nsxResource": {
                    "$ref": "#/definitions/NsxAccount"
                },
                "status": {
                    "type": "string",
                    "enum": [
                        "ACTIVE",
                        "CONFIGURED",
                        "NOT_CONFIGURED",
                        "NOT_ACTIVE"
                    ]
                },
                "type": {
                    "type": "string"
                },
                "vsphere": {
                    "$ref": "#/definitions/VsphereAccount"
                }
            },
            "title": "VcfDomain"
        },
        "VcfDomains": {
            "type": "object",
            "properties": {
                "domains": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/VcfDomain"
                    }
                }
            },
            "title": "VcfDomains"
        },
        "VcfServiceAccount": {
            "type": "object",
            "properties": {
                "authCredentials": {
                    "type": "string"
                },
                "credentialId": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                },
                "resourceId": {
                    "type": "string"
                },
                "resourceType": {
                    "type": "string"
                },
                "roleName": {
                    "type": "string"
                },
                "username": {
                    "type": "string"
                }
            },
            "title": "VcfServiceAccount"
        },
        "VcfServiceCredential": {
            "type": "object",
            "properties": {
                "authCredentialLink": {
                    "type": "string"
                },
                "credentialId": {
                    "type": "string"
                },
                "domainId": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "integrationId": {
                    "type": "string"
                },
                "resourceId": {
                    "type": "string"
                },
                "resourceType": {
                    "type": "string"
                },
                "roleName": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                },
                "taskId": {
                    "type": "string"
                },
                "userName": {
                    "type": "string"
                },
                "vcfCloudAccountId": {
                    "type": "string"
                }
            },
            "title": "VcfServiceCredential"
        },
        "VcfServiceCredentialCreationResponse": {
            "type": "object",
            "properties": {
                "credentials": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/VcfServiceAccount"
                    }
                },
                "domainId": {
                    "type": "string"
                },
                "sddcIntegrationId": {
                    "type": "string"
                },
                "status": {
                    "type": "string",
                    "enum": [
                        "SUCCESSFUL",
                        "IN_PROGRESS",
                        "FAILED"
                    ]
                },
                "taskId": {
                    "type": "string"
                }
            },
            "title": "VcfServiceCredentialCreationResponse"
        },
        "VsphereAccount": {
            "type": "object",
            "properties": {
                "hostName": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "regionId": {
                    "type": "string"
                }
            },
            "title": "VsphereAccount"
        }
    }
}
