{
    "swagger": "2.0",
    "info": {
        "description": "Api Documentation",
        "version": "1.0",
        "title": "Api Documentation",
        "termsOfService": "urn:tos",
        "contact": {},
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0"
        }
    },
    "host": "api.mgmt.cloud.vmware.com",
    "basePath": "/",
    "tags": [
        {
            "name": "Deployment Actions",
            "description": "Deployment Action API"
        },
        {
            "name": "Deployment Events",
            "description": "Deployment Events API"
        },
        {
            "name": "Deployment and Deployment Resource Actions Admin API",
            "description": "Resource Action Admin Controller"
        },
        {
            "name": "Deployments",
            "description": "Deployment API"
        }
    ],
    "paths": {
        "/deployment/api/deployments": {
            "get": {
                "tags": [
                    "Deployments"
                ],
                "summary": "Fetch all deployments.",
                "description": "Returns a paginated list of deployments.",
                "operationId": "getDeploymentsUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "cloudAccounts",
                        "in": "query",
                        "description": "A comma-separated list. Results must be associated with one of these cloud accounts.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "cloudTypes",
                        "in": "query",
                        "description": "A comma-separated list. Results must be associated with one of these endpoint Types",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "expandLastRequest",
                        "in": "query",
                        "description": "Expands deployment last request.",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "expandMetadata",
                        "in": "query",
                        "description": "Retrieves the 'metadata' field of the resource.",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "expandProject",
                        "in": "query",
                        "description": "The 'project' field of each resulting deployment will be retrieved.",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "expandResources",
                        "in": "query",
                        "description": "The 'resources' field of each resulting deployment will be retrieved.",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "forceCachedResources",
                        "in": "query",
                        "description": "The 'resources' field of each deployment in the result list will be read from a cache for a faster query.",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "forceRefreshResources",
                        "in": "query",
                        "description": "The 'resources' field of each deployment in the result list will be guaranteed up-to-date.",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "A comma-separated list. Only deployments with these IDs will be included in the results.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Results must have exactly this name.",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Results page you want to retrieve (0..N)",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 0
                    },
                    {
                        "name": "projects",
                        "in": "query",
                        "description": "A comma-separated list. Results must be associated with one of these project IDs.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "requestedBy",
                        "in": "query",
                        "description": "A comma-separated list. Results must be associated with one of these requesters",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "resourceTypes",
                        "in": "query",
                        "description": "A comma-separated list. Results must be associated with one of these resourceType Names.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Results must either have names with this string as a prefix or contain this string in their description.",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "Number of records per page.",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 20
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "description": "A comma-separated list. Results must be associated with one of these tags",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "templates",
                        "in": "query",
                        "description": "A comma-separated list. Results must be associated with one of these templates.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PageOfDeployment"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/deployment/api/deployments/filters": {
            "get": {
                "tags": [
                    "Deployments"
                ],
                "summary": "Returns the Deployment filters in context of given user.",
                "operationId": "getDeploymentFiltersUsingGET",
                "produces": [
                    "*/*"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/FilterSchema"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/deployment/api/deployments/filters/{filterId}": {
            "get": {
                "tags": [
                    "Deployments"
                ],
                "summary": "Returns the Deployment filter with the supplied ID.",
                "operationId": "getDeploymentFilterByIdUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "filterId",
                        "in": "path",
                        "description": "Filter Id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search string for filters",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PageOfFilterEntry"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/deployment/api/deployments/names/{name}": {
            "get": {
                "tags": [
                    "Deployments"
                ],
                "summary": "Check if a deployment exists.",
                "description": "Returns OK if a deployment with the supplied name exists.",
                "operationId": "checkDeploymentNameUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "description": "Deployment name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/deployment/api/deployments/{depId}": {
            "get": {
                "tags": [
                    "Deployments"
                ],
                "summary": "Fetch a spefic deployment.",
                "description": "Returns the deployment with the supplied ID.",
                "operationId": "getDeploymentByIdUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "depId",
                        "in": "path",
                        "description": "Deployment ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "expandLastRequest",
                        "in": "query",
                        "description": "Expands deployment last request.",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "expandMetadata",
                        "in": "query",
                        "description": "Retrieves the 'metadata' field of the resource.",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "expandProject",
                        "in": "query",
                        "description": "The 'project' field of the deployment will be retrieved.",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "expandResources",
                        "in": "query",
                        "description": "The 'resources' field of the deployment will be retrieved.",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "forceCachedResources",
                        "in": "query",
                        "description": "The 'resources' field of the deployment will be guaranteed up-to-date.",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "forceRefreshResources",
                        "in": "query",
                        "description": "The 'resources' field of the deployment will be read from a cache for a faster query.",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Deployment"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "Deployments"
                ],
                "summary": "Delete a deployment.",
                "description": "Deletes the deployment with the supplied ID.",
                "operationId": "deleteDeploymentUsingDELETE",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "depId",
                        "in": "path",
                        "description": "Deployment ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DeploymentRequest"
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "deprecated": true
            },
            "patch": {
                "tags": [
                    "Deployments"
                ],
                "summary": "Update deployment.",
                "description": "Updates the deployment with the supplied ID.",
                "operationId": "patchDeploymentUsingPATCH",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "depId",
                        "in": "path",
                        "description": "Deployment ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "body",
                        "name": "update",
                        "description": "A set of fields to overwrite the corresponding fields in the deployment",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/DeploymentUpdate"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Deployment"
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "deprecated": false
            }
        },
        "/deployment/api/deployments/{depId}/actions": {
            "get": {
                "tags": [
                    "Deployment Actions"
                ],
                "summary": "Fetch deployment available actions.",
                "description": "Returns the complete list of available actions that can be performed on a given deployment.",
                "operationId": "getDeploymentActionsUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "depId",
                        "in": "path",
                        "description": "Deployment ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ResourceAction"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/deployment/api/deployments/{depId}/actions/{actionId}": {
            "get": {
                "tags": [
                    "Deployment Actions"
                ],
                "summary": "Fetch deployment action.",
                "description": "Returns an action for the deployment specified by its Deployment ID and Action ID.",
                "operationId": "getDeploymentActionUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "actionId",
                        "in": "path",
                        "description": "Action ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "depId",
                        "in": "path",
                        "description": "Deployment ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResourceAction"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/deployment/api/deployments/{depId}/events": {
            "get": {
                "tags": [
                    "Deployment Events"
                ],
                "summary": "Fetch deployment events.",
                "description": "Returns the events for the deployment.",
                "operationId": "getDeploymentEventsUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "depId",
                        "in": "path",
                        "description": "Deployment ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Results page you want to retrieve (0..N)",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 0
                    },
                    {
                        "name": "parentId",
                        "in": "query",
                        "description": "Parent Event Id",
                        "required": false,
                        "type": "string",
                        "format": "uuid",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "Number of records per page.",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 20
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PageOfDeploymentEvent"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/deployment/api/deployments/{depId}/requests": {
            "post": {
                "tags": [
                    "Deployment Actions"
                ],
                "summary": "Deployment action request.",
                "description": "Submit a deployment action request",
                "operationId": "submitDeploymentActionRequestUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "actionRequest",
                        "description": "actionRequest",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ResourceActionRequest"
                        }
                    },
                    {
                        "name": "depId",
                        "in": "path",
                        "description": "Deployment ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DeploymentRequest"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/deployment/api/deployments/{depId}/resources": {
            "get": {
                "tags": [
                    "Deployments"
                ],
                "summary": "Fetch resources associated with a deployment.",
                "description": "Returns a paginated list of resources corresponding to the deployment with the supplied ID.",
                "operationId": "getDeploymentResourcesUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "depId",
                        "in": "path",
                        "description": "Deployment ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "expandMetadata",
                        "in": "query",
                        "description": "Retrieves the 'metadata' field of each resource.",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "forceCachedResources",
                        "in": "query",
                        "description": "Retrieves the resources from a cache for a faster query.",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "forceRefreshResources",
                        "in": "query",
                        "description": "Guarantees the resources are up-to-date.",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Results page you want to retrieve (0..N)",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 0
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "Number of records per page.",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 20
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PageOfResource"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/deployment/api/deployments/{depId}/resources/{resourceId}": {
            "get": {
                "tags": [
                    "Deployments"
                ],
                "summary": "Fetch resource associated with a deployment.",
                "description": "Returns the resource with the specified ID that is correlated with the supplied deployment.",
                "operationId": "getResourceByIdUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "depId",
                        "in": "path",
                        "description": "Deployment ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "expandMetadata",
                        "in": "query",
                        "description": "Retrieves the 'metadata' field of the resource.",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "forceCachedResources",
                        "in": "query",
                        "description": "Retrieves the resource from a cache for a faster query.",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "forceRefreshResources",
                        "in": "query",
                        "description": "Guarantees the resource is up-to-date.",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "resourceId",
                        "in": "path",
                        "description": "Resource ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Resource"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "Deployments"
                ],
                "summary": "Delete resource associated with a deployment.",
                "description": "Deletes the resource with the specified ID that is correlated with the supplied deployment.",
                "operationId": "deleteResourceUsingDELETE",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "depId",
                        "in": "path",
                        "description": "Deployment ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "resourceId",
                        "in": "path",
                        "description": "Resource ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "deprecated": true
            }
        },
        "/deployment/api/deployments/{depId}/resources/{resourceId}/actions": {
            "get": {
                "tags": [
                    "Deployment Actions"
                ],
                "summary": "Fetch available resource actions.",
                "description": "Returns the complete list of available actions that can be performed on a given resource.",
                "operationId": "getResourceActionsUsingGET_1",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "depId",
                        "in": "path",
                        "description": "Deployment ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "resourceId",
                        "in": "path",
                        "description": "Resource ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ResourceAction"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/deployment/api/deployments/{depId}/resources/{resourceId}/actions/{actionId}": {
            "get": {
                "tags": [
                    "Deployment Actions"
                ],
                "summary": "Fetch resource action.",
                "description": "Returns an action for the resource specified by its Resource ID and Action ID.",
                "operationId": "getResourceActionUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "actionId",
                        "in": "path",
                        "description": "Action ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "depId",
                        "in": "path",
                        "description": "Deployment ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "resourceId",
                        "in": "path",
                        "description": "Resource ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResourceAction"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/deployment/api/deployments/{depId}/resources/{resourceId}/requests": {
            "post": {
                "tags": [
                    "Deployment Actions"
                ],
                "summary": "Resource action request.",
                "description": "Submit a resource action request.",
                "operationId": "submitResourceActionRequestUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "actionRequest",
                        "description": "actionRequest",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ResourceActionRequest"
                        }
                    },
                    {
                        "name": "depId",
                        "in": "path",
                        "description": "Deployment ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "resourceId",
                        "in": "path",
                        "description": "Resource ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DeploymentRequest"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/deployment/api/projects/{projectId}/deployment-count": {
            "get": {
                "tags": [
                    "Deployments"
                ],
                "summary": "Returns a count of deployments using the project.",
                "operationId": "getDeploymentsForProjectUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "Project ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Page"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/deployment/api/requests/{requestId}": {
            "post": {
                "tags": [
                    "Deployment Actions"
                ],
                "summary": "Submit action on in-progress requests. Allowable values: cancel,pause,resume",
                "operationId": "actionDeploymentRequestUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "action",
                        "in": "query",
                        "description": "action",
                        "required": true,
                        "type": "string",
                        "allowEmptyValue": false,
                        "enum": [
                            "cancel",
                            "pause",
                            "resume"
                        ]
                    },
                    {
                        "name": "requestId",
                        "in": "path",
                        "description": "requestId",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        }
    },
    "definitions": {
        "Deployment": {
            "type": "object",
            "required": [
                "name"
            ],
            "properties": {
                "blueprintId": {
                    "type": "string",
                    "description": "Deployment blueprint id"
                },
                "blueprintVersion": {
                    "type": "string",
                    "description": "Deployment blueprint version"
                },
                "catalogItemId": {
                    "type": "string",
                    "description": "Deployment catalog item id"
                },
                "catalogItemVersion": {
                    "type": "string",
                    "description": "Deployment catalog version"
                },
                "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Creation time"
                },
                "createdBy": {
                    "type": "string",
                    "description": "Created by"
                },
                "description": {
                    "type": "string",
                    "description": "Description of the deployment"
                },
                "expense": {
                    "description": "Expense associated with the deployment.",
                    "readOnly": true,
                    "$ref": "#/definitions/Expense"
                },
                "iconId": {
                    "type": "string",
                    "description": "Deployment icon id"
                },
                "id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Id of the deployment"
                },
                "inputs": {
                    "type": "object",
                    "description": "The inputs that were used to request this deployment"
                },
                "lastRequest": {
                    "description": "Last request",
                    "$ref": "#/definitions/DeploymentRequest"
                },
                "lastUpdatedAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Update time"
                },
                "lastUpdatedBy": {
                    "type": "string",
                    "description": "Updated by"
                },
                "leaseExpireAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Lease expiration time"
                },
                "name": {
                    "type": "string",
                    "description": "Name of the deployment"
                },
                "project": {
                    "description": "Expanded deployment project",
                    "$ref": "#/definitions/ResourceReference"
                },
                "projectId": {
                    "type": "string",
                    "description": "Deployment project id"
                },
                "resources": {
                    "type": "array",
                    "description": "Expanded resources for the deployment. Content of this property will not be maintained backward compatible",
                    "readOnly": true,
                    "items": {
                        "$ref": "#/definitions/Resource"
                    }
                },
                "simulated": {
                    "type": "boolean"
                },
                "status": {
                    "type": "string",
                    "description": "Deployment status.",
                    "enum": [
                        "CREATE_SUCCESSFUL",
                        "CREATE_INPROGRESS",
                        "CREATE_FAILED",
                        "UPDATE_SUCCESSFUL",
                        "UPDATE_INPROGRESS",
                        "UPDATE_FAILED"
                    ]
                }
            },
            "title": "Deployment",
            "description": "A group of resources such as machines, network, software, etc... typically provisioned together to deliver a complete/workable application."
        },
        "DeploymentEvent": {
            "type": "object",
            "properties": {
                "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Creation time."
                },
                "deploymentId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Deployment id to which the event applies to"
                },
                "details": {
                    "type": "string",
                    "description": "Longer user-friendly details of the event."
                },
                "id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Event identifier"
                },
                "name": {
                    "type": "string",
                    "description": "Short user-friendly label of the event (e.g. 'shuting down myVM')"
                },
                "parentId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Parent event/request identifier"
                },
                "resourceName": {
                    "type": "string",
                    "description": "Optional resource name to which the event applies to"
                },
                "resourceType": {
                    "type": "string",
                    "description": "Optional resource type to which the event applies to"
                },
                "updatedAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Last update time."
                }
            },
            "title": "DeploymentEvent",
            "description": "Represents deployment events."
        },
        "DeploymentRequest": {
            "type": "object",
            "properties": {
                "actionId": {
                    "type": "string",
                    "description": "Identifier of the requested action"
                },
                "blueprintId": {
                    "type": "string",
                    "description": "Identifier of the requested blueprint in the form 'UUID:version'"
                },
                "catalogItemId": {
                    "type": "string",
                    "description": "Identifier of the requested catalog item in the form 'UUID:version'"
                },
                "completedTasks": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The number of tasks completed while fulfilling this request."
                },
                "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Creation time."
                },
                "deploymentId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Deployment id to which the event applies to"
                },
                "details": {
                    "type": "string",
                    "description": "Longer user-friendly details of the event."
                },
                "id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Event identifier"
                },
                "inputs": {
                    "type": "object",
                    "description": "Request inputs"
                },
                "name": {
                    "type": "string",
                    "description": "Short user-friendly label of the event (e.g. 'shuting down myVM')"
                },
                "parentId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Parent event/request identifier"
                },
                "requestedBy": {
                    "type": "string",
                    "description": "User that initiated the request"
                },
                "requester": {
                    "type": "string"
                },
                "resourceName": {
                    "type": "string",
                    "description": "Optional resource name to which the event applies to"
                },
                "resourceType": {
                    "type": "string",
                    "description": "Optional resource type to which the event applies to"
                },
                "status": {
                    "type": "string",
                    "description": "Request overall execution status.",
                    "enum": [
                        "PENDING",
                        "REJECTED",
                        "INPROGRESS",
                        "ABORTED",
                        "SUCCESSFUL",
                        "PARTIALLY_SUCCESSFUL",
                        "FAILED",
                        "CREATED"
                    ]
                },
                "statusDetails": {
                    "type": "string"
                },
                "totalTasks": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of tasks need to be completed to fulfil this request."
                },
                "updatedAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Last update time."
                }
            },
            "title": "DeploymentRequest",
            "description": "A deployment user request."
        },
        "DeploymentUpdate": {
            "type": "object",
            "properties": {
                "description": {
                    "type": "string",
                    "description": "New description of the deployment"
                },
                "name": {
                    "type": "string",
                    "description": "New name of the deployment"
                }
            },
            "title": "DeploymentUpdate",
            "description": "A deployment update request"
        },
        "Expense": {
            "type": "object",
            "properties": {
                "additionalExpense": {
                    "type": "number",
                    "description": "Additional expense incurred for the resource.",
                    "readOnly": true
                },
                "code": {
                    "type": "string",
                    "description": "Expense sync message code if any.",
                    "readOnly": true
                },
                "computeExpense": {
                    "type": "number",
                    "description": "Compute expense of the resource.",
                    "readOnly": true
                },
                "lastUpdatedTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Last expense sync time.",
                    "readOnly": true
                },
                "message": {
                    "type": "string",
                    "description": "Expense sync message if any.",
                    "readOnly": true
                },
                "networkExpense": {
                    "type": "number",
                    "description": "Network expense of the resource.",
                    "readOnly": true
                },
                "storageExpense": {
                    "type": "number",
                    "description": "Storage expense of the resource.",
                    "readOnly": true
                },
                "totalExpense": {
                    "type": "number",
                    "description": "Total expense of the resource.",
                    "readOnly": true
                },
                "unit": {
                    "type": "string",
                    "description": "Monetary unit.",
                    "readOnly": true
                }
            },
            "title": "Expense"
        },
        "Filter": {
            "type": "object",
            "properties": {
                "content": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/FilterEntry"
                    }
                },
                "empty": {
                    "type": "boolean"
                },
                "first": {
                    "type": "boolean"
                },
                "id": {
                    "type": "string"
                },
                "last": {
                    "type": "boolean"
                },
                "name": {
                    "type": "string"
                },
                "number": {
                    "type": "integer",
                    "format": "int32"
                },
                "numberOfElements": {
                    "type": "integer",
                    "format": "int32"
                },
                "size": {
                    "type": "integer",
                    "format": "int32"
                },
                "sort": {
                    "$ref": "#/definitions/Sort"
                },
                "totalElements": {
                    "type": "integer",
                    "format": "int64"
                },
                "totalPages": {
                    "type": "integer",
                    "format": "int32"
                }
            },
            "title": "Filter"
        },
        "FilterEntry": {
            "type": "object",
            "properties": {
                "count": {
                    "type": "integer",
                    "format": "int64"
                },
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            },
            "title": "FilterEntry"
        },
        "FilterSchema": {
            "type": "object",
            "properties": {
                "filters": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Filter"
                    }
                }
            },
            "title": "FilterSchema"
        },
        "FormDefinition": {
            "type": "object",
            "properties": {
                "formURI": {
                    "type": "string"
                }
            },
            "title": "FormDefinition"
        },
        "Page": {
            "type": "object",
            "properties": {
                "totalElements": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Count of the deployments"
                }
            },
            "title": "Page",
            "description": "Project callback response containing count of deployments"
        },
        "PageOfDeployment": {
            "type": "object",
            "properties": {
                "content": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Deployment"
                    }
                },
                "empty": {
                    "type": "boolean"
                },
                "first": {
                    "type": "boolean"
                },
                "last": {
                    "type": "boolean"
                },
                "number": {
                    "type": "integer",
                    "format": "int32"
                },
                "numberOfElements": {
                    "type": "integer",
                    "format": "int32"
                },
                "size": {
                    "type": "integer",
                    "format": "int32"
                },
                "sort": {
                    "$ref": "#/definitions/Sort"
                },
                "totalElements": {
                    "type": "integer",
                    "format": "int64"
                },
                "totalPages": {
                    "type": "integer",
                    "format": "int32"
                }
            },
            "title": "PageOfDeployment"
        },
        "PageOfDeploymentEvent": {
            "type": "object",
            "properties": {
                "content": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/DeploymentEvent"
                    }
                },
                "empty": {
                    "type": "boolean"
                },
                "first": {
                    "type": "boolean"
                },
                "last": {
                    "type": "boolean"
                },
                "number": {
                    "type": "integer",
                    "format": "int32"
                },
                "numberOfElements": {
                    "type": "integer",
                    "format": "int32"
                },
                "size": {
                    "type": "integer",
                    "format": "int32"
                },
                "sort": {
                    "$ref": "#/definitions/Sort"
                },
                "totalElements": {
                    "type": "integer",
                    "format": "int64"
                },
                "totalPages": {
                    "type": "integer",
                    "format": "int32"
                }
            },
            "title": "PageOfDeploymentEvent"
        },
        "PageOfDeploymentRequest": {
            "type": "object",
            "properties": {
                "content": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/DeploymentRequest"
                    }
                },
                "empty": {
                    "type": "boolean"
                },
                "first": {
                    "type": "boolean"
                },
                "last": {
                    "type": "boolean"
                },
                "number": {
                    "type": "integer",
                    "format": "int32"
                },
                "numberOfElements": {
                    "type": "integer",
                    "format": "int32"
                },
                "size": {
                    "type": "integer",
                    "format": "int32"
                },
                "sort": {
                    "$ref": "#/definitions/Sort"
                },
                "totalElements": {
                    "type": "integer",
                    "format": "int64"
                },
                "totalPages": {
                    "type": "integer",
                    "format": "int32"
                }
            },
            "title": "PageOfDeploymentRequest"
        },
        "PageOfFilterEntry": {
            "type": "object",
            "properties": {
                "content": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/FilterEntry"
                    }
                },
                "empty": {
                    "type": "boolean"
                },
                "first": {
                    "type": "boolean"
                },
                "last": {
                    "type": "boolean"
                },
                "number": {
                    "type": "integer",
                    "format": "int32"
                },
                "numberOfElements": {
                    "type": "integer",
                    "format": "int32"
                },
                "size": {
                    "type": "integer",
                    "format": "int32"
                },
                "sort": {
                    "$ref": "#/definitions/Sort"
                },
                "totalElements": {
                    "type": "integer",
                    "format": "int64"
                },
                "totalPages": {
                    "type": "integer",
                    "format": "int32"
                }
            },
            "title": "PageOfFilterEntry"
        },
        "PageOfResource": {
            "type": "object",
            "properties": {
                "content": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Resource"
                    }
                },
                "empty": {
                    "type": "boolean"
                },
                "first": {
                    "type": "boolean"
                },
                "last": {
                    "type": "boolean"
                },
                "number": {
                    "type": "integer",
                    "format": "int32"
                },
                "numberOfElements": {
                    "type": "integer",
                    "format": "int32"
                },
                "size": {
                    "type": "integer",
                    "format": "int32"
                },
                "sort": {
                    "$ref": "#/definitions/Sort"
                },
                "totalElements": {
                    "type": "integer",
                    "format": "int64"
                },
                "totalPages": {
                    "type": "integer",
                    "format": "int32"
                }
            },
            "title": "PageOfResource"
        },
        "PageOfResourceAction": {
            "type": "object",
            "properties": {
                "content": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ResourceAction"
                    }
                },
                "empty": {
                    "type": "boolean"
                },
                "first": {
                    "type": "boolean"
                },
                "last": {
                    "type": "boolean"
                },
                "number": {
                    "type": "integer",
                    "format": "int32"
                },
                "numberOfElements": {
                    "type": "integer",
                    "format": "int32"
                },
                "size": {
                    "type": "integer",
                    "format": "int32"
                },
                "sort": {
                    "$ref": "#/definitions/Sort"
                },
                "totalElements": {
                    "type": "integer",
                    "format": "int64"
                },
                "totalPages": {
                    "type": "integer",
                    "format": "int32"
                }
            },
            "title": "PageOfResourceAction"
        },
        "Resource": {
            "type": "object",
            "required": [
                "name",
                "type"
            ],
            "properties": {
                "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Creation time"
                },
                "dependsOn": {
                    "type": "array",
                    "description": "A list of other resources this resource depends on",
                    "items": {
                        "type": "string"
                    }
                },
                "description": {
                    "type": "string",
                    "description": "A description of the resource"
                },
                "expense": {
                    "description": "Expense associated with the deployment.",
                    "readOnly": true,
                    "$ref": "#/definitions/Expense"
                },
                "id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Unique identifier of the resource"
                },
                "metadata": {
                    "type": "object"
                },
                "name": {
                    "type": "string",
                    "description": "Name of the resource"
                },
                "properties": {
                    "type": "object"
                },
                "state": {
                    "type": "string",
                    "description": "The current state of the resource",
                    "enum": [
                        "PARTIAL",
                        "TAINTED",
                        "OK"
                    ]
                },
                "syncStatus": {
                    "type": "string",
                    "description": "The current sync status",
                    "enum": [
                        "SUCCESS",
                        "MISSING",
                        "STALE"
                    ]
                },
                "type": {
                    "type": "string",
                    "description": "Type of the resource"
                }
            },
            "title": "Resource",
            "description": "A resource part of a deployment."
        },
        "ResourceAction": {
            "type": "object",
            "properties": {
                "actionType": {
                    "type": "string",
                    "description": "Resource action type",
                    "enum": [
                        "RESOURCE_ACTION",
                        "RESOURCE_EXTENSION"
                    ]
                },
                "dependents": {
                    "type": "array",
                    "description": "Dependent resources",
                    "items": {
                        "type": "string"
                    }
                },
                "description": {
                    "type": "string",
                    "description": "Resource action description"
                },
                "displayName": {
                    "type": "string",
                    "description": "Resource action display name"
                },
                "formDefinition": {
                    "description": "Resource action custom UI definition. Optional",
                    "$ref": "#/definitions/FormDefinition"
                },
                "id": {
                    "type": "string",
                    "description": "Resource action id"
                },
                "name": {
                    "type": "string",
                    "description": "Resource action name"
                },
                "orgId": {
                    "type": "string",
                    "description": "Resource action org ID"
                },
                "projectId": {
                    "type": "string",
                    "description": "Resource action project ID"
                },
                "schema": {
                    "type": "object",
                    "description": "Resource action input schema"
                },
                "valid": {
                    "type": "boolean",
                    "description": "Resource action is valid for current state"
                }
            },
            "title": "ResourceAction"
        },
        "ResourceActionRequest": {
            "type": "object",
            "properties": {
                "actionId": {
                    "type": "string",
                    "description": "The id of the action to perform."
                },
                "inputs": {
                    "type": "object",
                    "description": "Resource action request inputs"
                },
                "reason": {
                    "type": "string",
                    "description": "Reason for requesting a day2 operation"
                }
            },
            "title": "ResourceActionRequest",
            "description": "Represents a resource day-two request"
        },
        "ResourceReference": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "link": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            },
            "title": "ResourceReference"
        },
        "Sort": {
            "type": "object",
            "properties": {
                "empty": {
                    "type": "boolean"
                },
                "sorted": {
                    "type": "boolean"
                },
                "unsorted": {
                    "type": "boolean"
                }
            },
            "title": "Sort"
        }
    }
}
