{
    "swagger": "2.0",
    "info": {
        "description": "A multi-cloud Blueprint API for Cloud Automation Services",
        "version": "2019-09-12",
        "title": "VMware Cloud Assembly Blueprint API",
        "license": {
            "name": "Copyright (c) 2022 VMware, Inc. All Rights Reserved.",
            "url": "https://www.vmware.com/cloud-solutions.html"
        }
    },
    "host": "api.mgmt.cloud.vmware.com",
    "basePath": "/",
    "tags": [
        {
            "name": "About",
            "description": "About API"
        },
        {
            "name": "Blueprint",
            "description": "Blueprints API"
        },
        {
            "name": "Blueprint Requests",
            "description": "Blueprint requests API"
        },
        {
            "name": "Blueprint Terraform Integrations",
            "description": "Terraform integrations API"
        },
        {
            "name": "Blueprint Validation",
            "description": "Blueprint validation API"
        },
        {
            "name": "Property Groups",
            "description": "Property groups API"
        },
        {
            "name": "Resource Types",
            "description": "Resource types API"
        }
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/blueprint/api/about": {
            "get": {
                "tags": [
                    "About"
                ],
                "summary": "Returns blueprint API information",
                "description": "The page contains information about the supported API versions and the latest API version. The version parameter is optional but highly recommended.\nIf you do not specify explicitly an exact version, you will be calling the latest supported API version.\nHere is an example of a call which specifies the exact version you are using: GET /blueprint/api/blueprints?apiVersion=2019-09-12",
                "operationId": "getAboutUsingGET_1",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BlueprintAbout"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/blueprint/api/blueprint-integrations/terraform/create-blueprint-from-mapping": {
            "post": {
                "tags": [
                    "Blueprint Terraform Integrations"
                ],
                "summary": "Creates a blueprint from a Terraform blueprint configuration (obtained from /create-blueprint-mapping).",
                "operationId": "createBlueprintFromMappingUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /blueprint/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "terraformBlueprintConfig",
                        "description": "A Terraform blueprint configuration.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TerraformBlueprintConfig"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Blueprint"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/blueprint/api/blueprint-integrations/terraform/create-blueprint-mapping": {
            "post": {
                "tags": [
                    "Blueprint Terraform Integrations"
                ],
                "summary": "Retrieves and parses the specified Terraform configuration file(s) and returns relevant information for blueprint construction.",
                "operationId": "createBlueprintMappingUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /blueprint/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "configurationSourceReference",
                        "description": "configurationSourceReference",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TerraformConfigurationSourceReference"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TerraformToBlueprintMapping"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/blueprint/api/blueprint-integrations/terraform/get-configuration-source-commits": {
            "get": {
                "tags": [
                    "Blueprint Terraform Integrations"
                ],
                "summary": "Returns a paginated list of commits for a specified configuration source.",
                "operationId": "getTerraformConfigurationSourceCommitListUsingGET",
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /blueprint/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "configurationSourceId",
                        "in": "query",
                        "description": "A Configuration Source ID.",
                        "required": true,
                        "type": "string",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PageOfCommitDetails"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/blueprint/api/blueprint-integrations/terraform/get-configuration-source-tree": {
            "get": {
                "tags": [
                    "Blueprint Terraform Integrations"
                ],
                "summary": "Shows directories of the configuration source repository that correspond to Terraform configurations.",
                "operationId": "getConfigurationSourceTreeUsingGET",
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /blueprint/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "commitId",
                        "in": "query",
                        "description": "The commit ID corresponding to the version of the configuration source.",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "configurationSourceId",
                        "in": "query",
                        "description": "The ID of the configuration source to inspect.",
                        "required": true,
                        "type": "string",
                        "format": "uuid",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "path",
                        "in": "query",
                        "description": "A file path prefix. The prefix is interpreted in the context of the configuration source's path prefix. Results will only include directories under this path.",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/FileTree"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/blueprint/api/blueprint-integrations/terraform/get-configuration-sources": {
            "get": {
                "tags": [
                    "Blueprint Terraform Integrations"
                ],
                "summary": "Returns a paginated list of configuration sources configured as storage for Terraform configurations.",
                "operationId": "getTerraformConfigurationSourcesUsingGET",
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /blueprint/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "projects",
                        "in": "query",
                        "description": "A comma-separated list of project IDs. Results will be filtered so only configuration sources accessible from one or more of these projects will be returned.",
                        "required": true,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "A search parameter to search based on configuration source name or repository.",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PageOfContentSource"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/blueprint/api/blueprint-integrations/terraform/versions": {
            "get": {
                "tags": [
                    "Blueprint Terraform Integrations"
                ],
                "summary": "Lists terraform versions",
                "operationId": "listTerraformVersionsUsingGET",
                "parameters": [
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorting criteria in the format: property (asc|desc). Default sort order is descending on updatedAt. Sorting is supported on fields createdAt, updatedAt, createdBy, updatedBy, version.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Number of records you want to skip",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Number of records you want",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "onlyEnabled",
                        "in": "query",
                        "description": "Include only enabled versions",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PageOfTerraformVersion"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "post": {
                "tags": [
                    "Blueprint Terraform Integrations"
                ],
                "summary": "Creates a version",
                "operationId": "createTerraformVersionUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /blueprint/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "terraformVersion",
                        "description": "Terraform version",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TerraformVersion"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/TerraformVersion"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/blueprint/api/blueprint-integrations/terraform/versions/{versionId}": {
            "get": {
                "tags": [
                    "Blueprint Terraform Integrations"
                ],
                "summary": "Returns Terraform Version details",
                "operationId": "getTerraformVersionUsingGET",
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /blueprint/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "versionId",
                        "in": "path",
                        "description": "versionId",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TerraformVersion"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "Blueprint Terraform Integrations"
                ],
                "summary": "Deletes a terraform version",
                "operationId": "deleteTerraformVersionUsingDELETE",
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /blueprint/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "versionId",
                        "in": "path",
                        "description": "versionId",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "patch": {
                "tags": [
                    "Blueprint Terraform Integrations"
                ],
                "summary": "Updates a terraform version",
                "operationId": "updateTerraformVersionUsingPATCH",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /blueprint/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "terraformVersion",
                        "description": "Terraform version object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TerraformVersion"
                        }
                    },
                    {
                        "name": "versionId",
                        "in": "path",
                        "description": "versionId",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TerraformVersion"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/blueprint/api/blueprint-requests": {
            "get": {
                "tags": [
                    "Blueprint Requests"
                ],
                "summary": "Lists blueprint requests",
                "operationId": "listBlueprintRequestsUsingGET_1",
                "parameters": [
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorting criteria in the format: property (asc|desc). Default sort order is descending on updatedAt. Sorting is supported on fields createdAt, updatedAt, createdBy, updatedBy.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Fields to include in content.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Number of records you want to skip",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Number of records you want",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /blueprint/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "deploymentId",
                        "in": "query",
                        "description": "Deployment Id filter",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "includePlan",
                        "in": "query",
                        "description": "Plan Requests filter",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PageOfBlueprintRequest"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "post": {
                "tags": [
                    "Blueprint Requests"
                ],
                "summary": "Creates a blueprint request",
                "operationId": "createBlueprintRequestUsingPOST_1",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /blueprint/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "request",
                        "description": "request",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BlueprintRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/BlueprintRequest"
                        }
                    },
                    "202": {
                        "description": "Accepted",
                        "schema": {
                            "$ref": "#/definitions/BlueprintRequest"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/blueprint/api/blueprint-requests/{requestId}": {
            "get": {
                "tags": [
                    "Blueprint Requests"
                ],
                "summary": "Returns blueprint request details",
                "operationId": "getBlueprintRequestUsingGET_1",
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /blueprint/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "requestId",
                        "in": "path",
                        "description": "requestId",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BlueprintRequest"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "Blueprint Requests"
                ],
                "summary": "Deletes request",
                "operationId": "deleteBlueprintRequestUsingDELETE_1",
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /blueprint/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "force",
                        "in": "query",
                        "description": "Force delete if not in final stage",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "requestId",
                        "in": "path",
                        "description": "requestId",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/blueprint/api/blueprint-requests/{requestId}/actions/cancel": {
            "post": {
                "tags": [
                    "Blueprint Requests"
                ],
                "summary": "Cancel request",
                "operationId": "cancelBlueprintRequestUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /blueprint/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "requestId",
                        "in": "path",
                        "description": "requestId",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/blueprint/api/blueprint-requests/{requestId}/plan": {
            "get": {
                "tags": [
                    "Blueprint Requests"
                ],
                "summary": "Returns request plan",
                "operationId": "getBlueprintPlanUsingGET_1",
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /blueprint/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Detailed plan",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "requestId",
                        "in": "path",
                        "description": "requestId",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BlueprintPlan"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/blueprint/api/blueprint-requests/{requestId}/resources-plan": {
            "get": {
                "tags": [
                    "Blueprint Requests"
                ],
                "summary": "Returns request resources plan",
                "operationId": "getBlueprintResourcesPlanUsingGET_1",
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /blueprint/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Detailed plan",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "requestId",
                        "in": "path",
                        "description": "requestId",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BlueprintResourcesPlan"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/blueprint/api/blueprint-validation": {
            "post": {
                "tags": [
                    "Blueprint Validation"
                ],
                "summary": "Validates a blueprint",
                "operationId": "validateBlueprintUsingPOST_1",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /blueprint/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "request",
                        "description": "request",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BlueprintValidationRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BlueprintValidationResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/blueprint/api/blueprints": {
            "get": {
                "tags": [
                    "Blueprint"
                ],
                "summary": "Lists draft blueprint",
                "operationId": "listBlueprintsUsingGET_1",
                "parameters": [
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorting criteria in the format: property (asc|desc). Default sort order is descending on updatedAt. Sorting is supported on fields createdAt, updatedAt, createdBy, updatedBy, name.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Fields to include in content.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Number of records you want to skip",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Number of records you want",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /blueprint/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filter by name",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "projects",
                        "in": "query",
                        "description": "A comma-separated list. Results must be associated with one of these project IDs.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "propertyGroups",
                        "in": "query",
                        "description": "Filter blueprints with any of the specified property groups",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "released",
                        "in": "query",
                        "description": "Filter blueprints with at least one released version",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search by name and description",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "versioned",
                        "in": "query",
                        "description": "Filter blueprints with at least one version",
                        "required": false,
                        "type": "boolean",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PageOfBlueprint"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "post": {
                "tags": [
                    "Blueprint"
                ],
                "summary": "Creates a blueprint",
                "operationId": "createBlueprintUsingPOST_1",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /blueprint/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "blueprint",
                        "description": "Blueprint object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Blueprint"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/Blueprint"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/blueprint/api/blueprints/{blueprintId}": {
            "get": {
                "tags": [
                    "Blueprint"
                ],
                "summary": "Returns blueprint details",
                "operationId": "getBlueprintUsingGET_1",
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Fields to include in content.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /blueprint/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "blueprintId",
                        "in": "path",
                        "description": "blueprintId",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Blueprint"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "put": {
                "tags": [
                    "Blueprint"
                ],
                "summary": "Updates a blueprint",
                "operationId": "updateBlueprintUsingPUT_1",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /blueprint/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "blueprint",
                        "description": "Blueprint object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Blueprint"
                        }
                    },
                    {
                        "name": "blueprintId",
                        "in": "path",
                        "description": "blueprintId",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Blueprint"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "Blueprint"
                ],
                "summary": "Deletes a blueprint",
                "operationId": "deleteBlueprintUsingDELETE_1",
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /blueprint/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "blueprintId",
                        "in": "path",
                        "description": "blueprintId",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/blueprint/api/blueprints/{blueprintId}/inputs-schema": {
            "get": {
                "tags": [
                    "Blueprint"
                ],
                "summary": "Returns blueprint inputs schema",
                "operationId": "getBlueprintInputsSchemaUsingGET_1",
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /blueprint/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "blueprintId",
                        "in": "path",
                        "description": "blueprintId",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PropertyDefinition"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/blueprint/api/blueprints/{blueprintId}/versions": {
            "get": {
                "tags": [
                    "Blueprint"
                ],
                "summary": "Lists blueprint versions",
                "operationId": "listBlueprintVersionsUsingGET",
                "parameters": [
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorting criteria in the format: property (asc|desc). Default sort order is descending on updatedAt. Sorting is supported on fields createdAt, updatedAt, createdBy, updatedBy, name, version.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Fields to include in content.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Number of records you want to skip",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Number of records you want",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /blueprint/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "blueprintId",
                        "in": "path",
                        "description": "blueprintId",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "propertyGroups",
                        "in": "query",
                        "description": "Filter versions with any of the specified property groups",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter by blueprint status: versioned / released",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false,
                        "enum": [
                            "VERSIONED",
                            "RELEASED"
                        ]
                    },
                    {
                        "name": "version",
                        "in": "query",
                        "description": "Filter by version",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PageOfBlueprintVersion"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "post": {
                "tags": [
                    "Blueprint"
                ],
                "summary": "Creates version for the given blueprint ID",
                "operationId": "createBlueprintVersionUsingPOST_1",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /blueprint/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "blueprintId",
                        "in": "path",
                        "description": "blueprintId",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "body",
                        "name": "versionRequest",
                        "description": "Blueprint version object",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/BlueprintVersionRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/BlueprintVersion"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/blueprint/api/blueprints/{blueprintId}/versions/{version}": {
            "get": {
                "tags": [
                    "Blueprint"
                ],
                "summary": "Returns versioned blueprint details",
                "operationId": "getBlueprintVersionUsingGET_1",
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Fields to include in content.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "blueprintId",
                        "in": "path",
                        "description": "blueprintId",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "description": "version",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BlueprintVersion"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/blueprint/api/blueprints/{blueprintId}/versions/{version}/actions/release": {
            "post": {
                "tags": [
                    "Blueprint"
                ],
                "summary": "Release versioned blueprint to catalog",
                "operationId": "releaseBlueprintVersionUsingPOST_1",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /blueprint/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "blueprintId",
                        "in": "path",
                        "description": "blueprintId",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "description": "version",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BlueprintVersion"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/blueprint/api/blueprints/{blueprintId}/versions/{version}/actions/restore": {
            "post": {
                "tags": [
                    "Blueprint"
                ],
                "summary": "Restores content of draft from versioned blueprint",
                "operationId": "restoreBlueprintVersionUsingPOST_1",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /blueprint/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "blueprintId",
                        "in": "path",
                        "description": "blueprintId",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "description": "version",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Blueprint"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/blueprint/api/blueprints/{blueprintId}/versions/{version}/actions/unrelease": {
            "post": {
                "tags": [
                    "Blueprint"
                ],
                "summary": "UnRelease versioned blueprint from catalog",
                "operationId": "unReleaseBlueprintVersionUsingPOST_1",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /blueprint/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "blueprintId",
                        "in": "path",
                        "description": "blueprintId",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "description": "version",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BlueprintVersion"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/blueprint/api/blueprints/{blueprintId}/versions/{version}/inputs-schema": {
            "get": {
                "tags": [
                    "Blueprint"
                ],
                "summary": "Returns blueprint version inputs schema",
                "operationId": "getBlueprintVersionInputsSchemaUsingGET_1",
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /blueprint/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "blueprintId",
                        "in": "path",
                        "description": "blueprintId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "description": "version",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PropertyDefinition"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/blueprint/api/resource-types": {
            "get": {
                "tags": [
                    "Resource Types"
                ],
                "summary": "Lists resource types",
                "operationId": "listResourceTypesUsingGET",
                "parameters": [
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorting criteria in the format: property (asc|desc). Default sort order is ascending on name. Sorting is supported on fields createdAt, updatedAt, createdBy, updatedBy, name.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Number of records you want to skip",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Number of records you want",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /blueprint/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "expand",
                        "in": "query",
                        "description": "Expand with content",
                        "required": false,
                        "type": "boolean",
                        "default": true,
                        "allowEmptyValue": false
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filter by name",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "providerId",
                        "in": "query",
                        "description": "Filter by provider ID",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search by name and description",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PageOfResourceType"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/blueprint/api/resource-types/{resourceTypeId}": {
            "get": {
                "tags": [
                    "Resource Types"
                ],
                "summary": "Returns resource type details",
                "operationId": "getResourceTypeUsingGET",
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /blueprint/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "resourceTypeId",
                        "in": "path",
                        "description": "resourceTypeId",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResourceType"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/properties/api/property-groups": {
            "get": {
                "tags": [
                    "Property Groups"
                ],
                "summary": "Lists Property Groups",
                "operationId": "listPropertyGroupsUsingGET",
                "parameters": [
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorting criteria in the format: property (asc|desc). Default sort order is descending on updatedAt. Sorting is supported on fields createdAt, updatedAt, createdBy, updatedBy, name, type.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Fields to include.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Number of records you want to skip",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Number of records you want",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "x-example": 1
                    },
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /blueprint/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filter by name",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "projects",
                        "in": "query",
                        "description": "A comma-separated list. Results must be associated with one of these project IDs.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search by name and description",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Filter by type",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false,
                        "enum": [
                            "INPUT",
                            "CONSTANT"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PageOfPropertyGroup"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "post": {
                "tags": [
                    "Property Groups"
                ],
                "summary": "Creates a property group",
                "operationId": "createPropertyGroupUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /blueprint/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "propertyGroup",
                        "description": "propertyGroup",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PropertyGroup"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/PropertyGroup"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/properties/api/property-groups/{propertyGroupId}": {
            "get": {
                "tags": [
                    "Property Groups"
                ],
                "summary": "Returns property group details",
                "operationId": "getPropertyGroupUsingGET",
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Fields to include in content.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /blueprint/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "propertyGroupId",
                        "in": "path",
                        "description": "propertyGroupId",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PropertyGroup"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "put": {
                "tags": [
                    "Property Groups"
                ],
                "summary": "Updates a property group",
                "operationId": "updatePropertyGroupUsingPUT",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /blueprint/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "propertyGroup",
                        "description": "propertyGroup",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PropertyGroup"
                        }
                    },
                    {
                        "name": "propertyGroupId",
                        "in": "path",
                        "description": "propertyGroupId",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PropertyGroup"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "Property Groups"
                ],
                "summary": "Deletes a property group",
                "operationId": "deletePropertyGroupUsingDELETE",
                "parameters": [
                    {
                        "name": "apiVersion",
                        "in": "query",
                        "description": "The version of the API in yyyy-MM-dd format (UTC). For versioning information please refer to /blueprint/api/about",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "propertyGroupId",
                        "in": "path",
                        "description": "propertyGroupId",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        }
    },
    "securityDefinitions": {
        "Bearer": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    },
    "definitions": {
        "Blueprint": {
            "type": "object",
            "properties": {
                "content": {
                    "type": "string",
                    "description": "Blueprint YAML content"
                },
                "contentSourceId": {
                    "type": "string",
                    "description": "Content source id",
                    "readOnly": true
                },
                "contentSourcePath": {
                    "type": "string",
                    "description": "Content source path",
                    "readOnly": true
                },
                "contentSourceSyncAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Content source last sync time",
                    "readOnly": true
                },
                "contentSourceSyncMessages": {
                    "type": "array",
                    "description": "Content source last sync messages",
                    "readOnly": true,
                    "items": {
                        "type": "string"
                    }
                },
                "contentSourceSyncStatus": {
                    "type": "string",
                    "description": "Content source last sync status",
                    "readOnly": true,
                    "enum": [
                        "SUCCESSFUL",
                        "FAILED"
                    ]
                },
                "contentSourceType": {
                    "type": "string",
                    "description": "Content source type",
                    "readOnly": true
                },
                "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Created time",
                    "readOnly": true
                },
                "createdBy": {
                    "type": "string",
                    "description": "Created by",
                    "readOnly": true
                },
                "description": {
                    "type": "string",
                    "description": "Blueprint description"
                },
                "id": {
                    "type": "string",
                    "description": "Object ID",
                    "readOnly": true
                },
                "name": {
[...]
