{
    "swagger": "2.0",
    "info": {
        "description": "Documentation of the CMX service APIs",
        "version": "2019-09-12",
        "title": "CMX Service APIs",
        "license": {
            "name": "Copyright (c) 2022 VMware, Inc. All Rights Reserved.",
            "url": "https://www.vmware.com/cloud-solutions.html"
        }
    },
    "host": "api.mgmt.cloud.vmware.com",
    "basePath": "/",
    "tags": [
        {
            "name": "Cluster Plans",
            "description": "Cluster Plan Controller"
        },
        {
            "name": "Installers",
            "description": "K 8 S Installer Controller"
        },
        {
            "name": "Kubernetes Clusters",
            "description": "K 8 S Cluster Controller"
        },
        {
            "name": "Kubernetes Zones",
            "description": "K 8 S Zone Controller"
        },
        {
            "name": "Limit Ranges",
            "description": "K 8 S Limit Range Controller"
        },
        {
            "name": "Namespaces",
            "description": "K 8 S Namespace Controller"
        },
        {
            "name": "PKS Endpoints",
            "description": "PKS Endpoint Controller"
        },
        {
            "name": "Projects",
            "description": "Project Controller"
        },
        {
            "name": "Provider Requests",
            "description": "Provider Request Controller"
        },
        {
            "name": "Resource Quotas",
            "description": "K 8 S Resource Quota Controller"
        },
        {
            "name": "Supervisor Clusters",
            "description": "Supervisor Cluster Controller"
        },
        {
            "name": "Supervisor Namespaces",
            "description": "Supervisor Namespace Controller"
        },
        {
            "name": "TMC Endpoints",
            "description": "TMC Endpoint Controller"
        },
        {
            "name": "vSphere Endpoints",
            "description": "Vsphere Endpoint Controller"
        }
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/cmx/api/projects/{projectId}/entity-count": {
            "get": {
                "tags": [
                    "Projects"
                ],
                "summary": "Retrieve the count of entities per project",
                "description": "Get all entities for a project by providing a project id",
                "operationId": "countOfEntitiesInProjectUsingGET",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "projectId",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden, the user lacks permissions"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/requests/blueprint/blueprint-provider-request": {
            "post": {
                "tags": [
                    "Provider Requests"
                ],
                "summary": "Handle blueprint resources requests",
                "description": "Handles blueprint requests for resource operations - allocation, provisioning, removal",
                "operationId": "postUsingPOST",
                "parameters": [
                    {
                        "in": "body",
                        "name": "request",
                        "description": "request",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ResourceRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResourceResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden, the user lacks permissions"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "patch": {
                "tags": [
                    "Provider Requests"
                ],
                "summary": "Handles unfinished requests",
                "description": "Handles unfinished requests that are stopped because of service shutdown or a service outage.",
                "operationId": "patchUsingPATCH",
                "parameters": [
                    {
                        "in": "body",
                        "name": "rr",
                        "description": "rr",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ResumeRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResourceResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden, the user lacks permissions"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/cluster-plans": {
            "get": {
                "tags": [
                    "Cluster Plans"
                ],
                "summary": "Search a cluster plan instance",
                "description": "Search a cluster plan by name and cloud account document self link id.",
                "operationId": "searchClusterPlansUsingGET",
                "parameters": [
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "paged",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "sort.sorted",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "sort.unsorted",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "unpaged",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "cloudAccountSelfLinkId",
                        "in": "query",
                        "description": "cloudAccountSelfLinkId",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "name",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PageOfClusterPlan"
                        }
                    },
                    "403": {
                        "description": "Forbidden, the user lacks permissions"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "post": {
                "tags": [
                    "Cluster Plans"
                ],
                "summary": "Create a cluster plan",
                "description": "The body shall contain a cluster plan entity.",
                "operationId": "createUsingPOST",
                "parameters": [
                    {
                        "in": "body",
                        "name": "plan",
                        "description": "plan",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ClusterPlan"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ClusterPlan"
                        }
                    },
                    "403": {
                        "description": "Forbidden, the user lacks permissions"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/cluster-plans/aggregation": {
            "get": {
                "tags": [
                    "Cluster Plans"
                ],
                "summary": "Search for cluster plan aggregations",
                "description": "Search for cluster plan aggregations by name and cloud account document self link id.",
                "operationId": "searchClusterPlanAggregationsUsingGET",
                "parameters": [
                    {
                        "name": "groupBy",
                        "in": "query",
                        "description": "groupBy",
                        "required": true,
                        "type": "string",
                        "allowEmptyValue": false,
                        "enum": [
                            "name",
                            "cloudAccountSelfLinkId"
                        ]
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "paged",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "sort.sorted",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "sort.unsorted",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "unpaged",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "cloudAccountSelfLinkId",
                        "in": "query",
                        "description": "cloudAccountSelfLinkId",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "name",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PageOfClusterPlanAggregation"
                        }
                    },
                    "403": {
                        "description": "Forbidden, the user lacks permissions"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/cluster-plans/{id}": {
            "get": {
                "tags": [
                    "Cluster Plans"
                ],
                "summary": "Get a Cluster Plan by Id",
                "description": "Get a Cluster Plan by Id",
                "operationId": "getUsingGET",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ClusterPlan"
                        }
                    },
                    "403": {
                        "description": "Forbidden, the user lacks permissions"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "put": {
                "tags": [
                    "Cluster Plans"
                ],
                "summary": "Update a cluster plan",
                "description": "The body shall contains the cluster plan mutation entity.",
                "operationId": "updateUsingPUT",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "body",
                        "name": "plan",
                        "description": "plan",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ClusterPlan"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ClusterPlan"
                        }
                    },
                    "403": {
                        "description": "Forbidden, the user lacks permissions"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "Cluster Plans"
                ],
                "summary": "Delete a Cluster Plan by Id",
                "description": "Delete a Cluster Plan identified by id string",
                "operationId": "deleteUsingDELETE",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "403": {
                        "description": "Forbidden, the user lacks permissions"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/installers/{id}": {
            "get": {
                "tags": [
                    "Installers"
                ],
                "summary": "Find a Kubernetes Installer by id",
                "description": "Retrieve a K8S Installer by id",
                "operationId": "getInstallerUsingGET",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/K8SInstaller"
                        }
                    },
                    "403": {
                        "description": "Forbidden, the user lacks permissions"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/installers/{id}/install": {
            "post": {
                "tags": [
                    "Installers"
                ],
                "summary": "Install a K8S Installer",
                "description": "Install a K8S Installer",
                "operationId": "installUsingPOST",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/K8SInstaller"
                        }
                    },
                    "403": {
                        "description": "Forbidden, the user lacks permissions"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/installers/{id}/properties": {
            "get": {
                "tags": [
                    "Installers"
                ],
                "summary": "Find installation properties by installer id",
                "description": "Retrieve installation properties by id",
                "operationId": "getKubernetesPropertiesUsingGET",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden, the user lacks permissions"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/installers/{id}/uninstall": {
            "post": {
                "tags": [
                    "Installers"
                ],
                "summary": "Uninstall a K8S Installer",
                "description": "Uninstall a K8S Installer",
                "operationId": "uninstallUsingPOST",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/K8SInstaller"
                        }
                    },
                    "403": {
                        "description": "Forbidden, the user lacks permissions"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/k8s-zones": {
            "get": {
                "tags": [
                    "Kubernetes Zones"
                ],
                "summary": "Get all K8S Zones",
                "description": "List of all K8S Zones",
                "operationId": "listZonesUsingGET",
                "parameters": [
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "paged",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "sort.sorted",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "sort.unsorted",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "unpaged",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "expandTags",
                        "in": "query",
                        "description": "expandTags",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "projectId",
                        "in": "query",
                        "description": "projectId",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "providerId",
                        "in": "query",
                        "description": "providerId",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PageOfK8SZone"
                        }
                    },
                    "403": {
                        "description": "Forbidden, the user lacks permissions"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "post": {
                "tags": [
                    "Kubernetes Zones"
                ],
                "summary": "Create a K8S Zone",
                "description": "Create a K8S Zone entity",
                "operationId": "createZoneUsingPOST",
                "parameters": [
                    {
                        "in": "body",
                        "name": "zone",
                        "description": "zone",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/K8SZone"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/K8SZone"
                        }
                    },
                    "403": {
                        "description": "Forbidden, the user lacks permissions"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/k8s-zones/{id}": {
            "get": {
                "tags": [
                    "Kubernetes Zones"
                ],
                "summary": "Get a K8S Zone",
                "description": "Get a K8S Zone by Id",
                "operationId": "getZoneUsingGET",
                "parameters": [
                    {
                        "name": "expandTags",
                        "in": "query",
                        "description": "expandTags",
                        "required": false,
                        "type": "boolean",
                        "default": true
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/K8SZone"
                        }
                    },
                    "403": {
                        "description": "Forbidden, the user lacks permissions"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "put": {
                "tags": [
                    "Kubernetes Zones"
                ],
                "summary": "Update a K8S Zone",
                "description": "Modify a K8S Zone",
                "operationId": "updateZoneUsingPUT",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "body",
                        "name": "zone",
                        "description": "zone",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/K8SZone"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/K8SZone"
                        }
                    },
                    "403": {
                        "description": "Forbidden, the user lacks permissions"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "Kubernetes Zones"
                ],
                "summary": "Delete a K8S Zone",
                "description": "Remove a K8S Zone",
                "operationId": "deleteZoneUsingDELETE",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "403": {
                        "description": "Forbidden, the user lacks permissions"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/k8s-zones/{id}/projects": {
            "put": {
                "tags": [
                    "Kubernetes Zones"
                ],
                "summary": "Update a K8S Zone project assignments",
                "description": "Assignment of projects to K8S Zone",
                "operationId": "updateZoneProjectsUsingPUT",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "body",
                        "name": "projects",
                        "description": "projects",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/K8SZoneProjectAssignment"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/K8SZone"
                        }
                    },
                    "403": {
                        "description": "Forbidden, the user lacks permissions"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/k8s/clusters": {
            "get": {
                "tags": [
                    "Kubernetes Clusters"
                ],
                "summary": "Get all registered K8S Clusters",
                "description": "Retrieve the managed K8S Clusters ",
                "operationId": "listUsingGET",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "localAddress.address.MCGlobal",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "localAddress.address.MCLinkLocal",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "localAddress.address.MCNodeLocal",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "localAddress.address.MCOrgLocal",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "localAddress.address.MCSiteLocal",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "localAddress.address.address",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "byte"
                    },
                    {
                        "name": "localAddress.address.anyLocalAddress",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "localAddress.address.canonicalHostName",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "localAddress.address.hostAddress",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "localAddress.address.hostName",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "localAddress.address.linkLocalAddress",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "localAddress.address.loopbackAddress",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "localAddress.address.multicastAddress",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "localAddress.address.siteLocalAddress",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "localAddress.hostName",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "localAddress.hostString",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "localAddress.port",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "localAddress.unresolved",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "paged",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "remoteAddress.address.MCGlobal",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "remoteAddress.address.MCLinkLocal",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "remoteAddress.address.MCNodeLocal",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "remoteAddress.address.MCOrgLocal",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "remoteAddress.address.MCSiteLocal",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "remoteAddress.address.address",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "byte"
                    },
                    {
                        "name": "remoteAddress.address.anyLocalAddress",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "remoteAddress.address.canonicalHostName",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "remoteAddress.address.hostAddress",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "remoteAddress.address.hostName",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "remoteAddress.address.linkLocalAddress",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "remoteAddress.address.loopbackAddress",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "remoteAddress.address.multicastAddress",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "remoteAddress.address.siteLocalAddress",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "remoteAddress.hostName",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "remoteAddress.hostString",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "remoteAddress.port",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "remoteAddress.unresolved",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "sort.sorted",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "sort.unsorted",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].TBSCertificate",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "byte"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].basicConstraints",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].encoded",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "byte"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].extendedKeyUsage",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].issuerDN.name",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].issuerUniqueID",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "boolean"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].issuerX500Principal.encoded",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "byte"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].issuerX500Principal.name",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].keyUsage",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "boolean"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].notAfter",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].notBefore",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].serialNumber",
                        "in": "query",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].sigAlgName",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].sigAlgOID",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].sigAlgParams",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "byte"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].signature",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "byte"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].subjectDN.name",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].subjectUniqueID",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "boolean"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].subjectX500Principal.encoded",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "byte"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].subjectX500Principal.name",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].type",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].version",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "sslInfo.sessionId",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "unpaged",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PageOfK8SCluster"
                        }
                    },
                    "403": {
                        "description": "Forbidden, the user lacks permissions"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "post": {
                "tags": [
                    "Kubernetes Clusters"
                ],
                "summary": "Onboard a K8S Cluster",
                "description": "Onboard a K8S Cluster entity",
                "operationId": "onboardUsingPOST",
                "parameters": [
                    {
                        "in": "body",
                        "name": "cluster",
                        "description": "cluster",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/K8SCluster"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/K8SCluster"
                        }
                    },
                    "403": {
                        "description": "Forbidden, the user lacks permissions"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/k8s/clusters/assign": {
            "post": {
                "tags": [
                    "Kubernetes Clusters"
                ],
                "summary": "Assign K8s cluster to cluster cluster group.",
                "description": "Assign K8s cluster to cluster cluster group.",
                "operationId": "assignUsingPOST",
                "parameters": [
                    {
                        "in": "body",
                        "name": "k8SClusterAssignRequestDTO",
                        "description": "k8SClusterAssignRequestDTO",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/K8SClusterAssignRequestDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/K8SClusterAssignResponseDTO"
                        }
                    },
                    "403": {
                        "description": "Forbidden, the user lacks permissions"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/k8s/clusters/assign/{requestId}": {
            "get": {
                "tags": [
                    "Kubernetes Clusters"
                ],
                "summary": "Retrieve assign status.",
                "description": "Retrieve assign status.",
                "operationId": "assignStatusUsingGET",
                "parameters": [
                    {
                        "name": "requestId",
                        "in": "path",
                        "description": "requestId",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/K8SClusterAssignResponseDTO"
                        }
                    },
                    "403": {
                        "description": "Forbidden, the user lacks permissions"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/k8s/clusters/validate": {
            "put": {
                "tags": [
                    "Kubernetes Clusters"
                ],
                "summary": "Validate provided K8S Cluster entity",
                "description": "Validate provided K8S Cluster entity",
                "operationId": "validateUsingPUT",
                "parameters": [
                    {
                        "in": "body",
                        "name": "cluster",
                        "description": "cluster",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/K8SCluster"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/K8sClusterState"
                        }
                    },
                    "403": {
                        "description": "Forbidden, the user lacks permissions"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/k8s/clusters/{id}": {
            "get": {
                "tags": [
                    "Kubernetes Clusters"
                ],
                "summary": "Find a K8S Cluster by id",
                "description": "Retrieve a K8S by id",
                "operationId": "getClusterUsingGET",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/K8SCluster"
                        }
                    },
                    "403": {
                        "description": "Forbidden, the user lacks permissions"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "put": {
                "tags": [
                    "Kubernetes Clusters"
                ],
                "summary": "Update a K8S Cluster",
                "description": "Update K8S Cluster by id",
                "operationId": "updateUsingPUT_1",
                "parameters": [
                    {
                        "in": "body",
                        "name": "cluster",
                        "description": "cluster",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/K8SCluster"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/K8SCluster"
                        }
                    },
                    "403": {
                        "description": "Forbidden, the user lacks permissions"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "Kubernetes Clusters"
                ],
                "summary": "Delete a K8S Cluster",
                "description": "Delete a K8S Cluster by provided id",
                "operationId": "deleteClusterUsingDELETE",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "403": {
                        "description": "Forbidden, the user lacks permissions"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/k8s/clusters/{id}/destroy": {
            "delete": {
                "tags": [
                    "Kubernetes Clusters"
                ],
                "summary": "Destroy a K8S Cluster",
                "description": "Destroy a K8S Cluster by provided id",
                "operationId": "destroyClusterUsingDELETE",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "403": {
                        "description": "Forbidden, the user lacks permissions"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/k8s/clusters/{id}/kube-config": {
            "get": {
                "tags": [
                    "Kubernetes Clusters"
                ],
                "summary": "Get a KubeConfig for a K8S Cluster",
                "description": "Get a KubeConfig for a K8S Cluster by provided id",
                "operationId": "getKubeConfigUsingGET",
                "produces": [
                    "application/yaml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "ignoreTMC",
                        "in": "query",
                        "description": "ignoreTMC",
                        "required": false,
                        "type": "boolean",
                        "default": false
                    },
                    {
                        "name": "includeCredentials",
                        "in": "query",
                        "description": "includeCredentials",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseEntity"
                        }
                    },
                    "403": {
                        "description": "Forbidden, the user lacks permissions"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/k8s/clusters/{id}/nodes": {
            "get": {
                "tags": [
                    "Kubernetes Clusters"
                ],
                "summary": "Get nodes of K8S Clusters",
                "description": "Get nodes of K8S Clusters by provided id",
                "operationId": "getNodesUsingGET",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/NodeList"
                        }
                    },
                    "403": {
                        "description": "Forbidden, the user lacks permissions"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/k8s/namespaces": {
            "get": {
                "tags": [
                    "Namespaces"
                ],
                "summary": "Get All K8S Namespaces",
                "description": "Get a list of all K8S Namespaces",
                "operationId": "listUsingGET_2",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "localAddress.address.MCGlobal",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "localAddress.address.MCLinkLocal",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "localAddress.address.MCNodeLocal",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "localAddress.address.MCOrgLocal",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "localAddress.address.MCSiteLocal",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "localAddress.address.address",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "byte"
                    },
                    {
                        "name": "localAddress.address.anyLocalAddress",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "localAddress.address.canonicalHostName",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "localAddress.address.hostAddress",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "localAddress.address.hostName",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "localAddress.address.linkLocalAddress",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "localAddress.address.loopbackAddress",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "localAddress.address.multicastAddress",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "localAddress.address.siteLocalAddress",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "localAddress.hostName",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "localAddress.hostString",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "localAddress.port",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "localAddress.unresolved",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "paged",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "remoteAddress.address.MCGlobal",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "remoteAddress.address.MCLinkLocal",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "remoteAddress.address.MCNodeLocal",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "remoteAddress.address.MCOrgLocal",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "remoteAddress.address.MCSiteLocal",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "remoteAddress.address.address",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "byte"
                    },
                    {
                        "name": "remoteAddress.address.anyLocalAddress",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "remoteAddress.address.canonicalHostName",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "remoteAddress.address.hostAddress",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "remoteAddress.address.hostName",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "remoteAddress.address.linkLocalAddress",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "remoteAddress.address.loopbackAddress",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "remoteAddress.address.multicastAddress",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "remoteAddress.address.siteLocalAddress",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "remoteAddress.hostName",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "remoteAddress.hostString",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "remoteAddress.port",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "remoteAddress.unresolved",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "sort.sorted",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "sort.unsorted",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].TBSCertificate",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "byte"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].basicConstraints",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].encoded",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "byte"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].extendedKeyUsage",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].issuerDN.name",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].issuerUniqueID",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "boolean"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].issuerX500Principal.encoded",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "byte"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].issuerX500Principal.name",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].keyUsage",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "boolean"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].notAfter",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].notBefore",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].serialNumber",
                        "in": "query",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].sigAlgName",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].sigAlgOID",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].sigAlgParams",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "byte"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].signature",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "byte"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].subjectDN.name",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].subjectUniqueID",
                        "in": "query",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "boolean"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].subjectX500Principal.encoded",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "byte"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].subjectX500Principal.name",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].type",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "sslInfo.peerCertificates[0].version",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "sslInfo.sessionId",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "unpaged",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PageOfK8SNamespace"
                        }
                    },
                    "403": {
                        "description": "Forbidden, the user lacks permissions"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "post": {
                "tags": [
                    "Namespaces"
                ],
                "summary": "Create a K8S Namespace",
                "description": "Create a K8S Namespace",
                "operationId": "createUsingPOST_1",
                "parameters": [
                    {
                        "in": "body",
                        "name": "namespace",
                        "description": "namespace",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/K8SNamespace"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/K8SNamespace"
                        }
                    },
                    "403": {
                        "description": "Forbidden, the user lacks permissions"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/k8s/namespaces/{id}": {
            "get": {
                "tags": [
                    "Namespaces"
                ],
                "summary": "Get a K8S Namespace by id",
                "description": "Get a K8S Namespace by id",
                "operationId": "getUsingGET_2",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/K8SNamespace"
                        }
                    },
                    "403": {
                        "description": "Forbidden, the user lacks permissions"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "put": {
                "tags": [
                    "Namespaces"
                ],
                "summary": "Update a K8S Namespace description or project",
                "description": "Update a K8S Namespace description or project by providing namespace id and Namespace entity",
                "operationId": "updateUsingPUT_2",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "body",
                        "name": "namespace",
                        "description": "namespace",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/K8SNamespace"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/K8SNamespace"
                        }
                    },
                    "403": {
                        "description": "Forbidden, the user lacks permissions"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "Namespaces"
                ],
                "summary": "Delete a K8S Namespace",
                "description": "Delete a K8S Namespace by id",
                "operationId": "deleteUsingDELETE_1",
                "parameters": [
                    {
                        "name": "destroy",
                        "in": "query",
                        "description": "destroy",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "403": {
                        "description": "Forbidden, the user lacks permissions"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/k8s/namespaces/{id}/kube-config": {
            "get": {
                "tags": [
                    "Namespaces"
                ],
                "summary": "Get KubeConfig for a K8S Namespace",
                "description": "Get KubeConfig for a K8S Namespace by providing a K8S Namespace id",
                "operationId": "getKubeConfigUsingGET_1",
                "produces": [
                    "application/yaml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "ignoreTMC",
                        "in": "query",
                        "description": "ignoreTMC",
                        "required": false,
                        "type": "boolean",
                        "default": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseEntity"
                        }
                    },
                    "403": {
                        "description": "Forbidden, the user lacks permissions"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/k8s/namespaces/{id}/register": {
            "put": {
                "tags": [
                    "Namespaces"
                ],
                "summary": "Onboard existing K8S Namespace",
                "description": "Onboard existing K8S Namespace by providing namespace id and entity",
                "operationId": "registerUsingPUT",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "in": "body",
                        "name": "namespaceState",
                        "description": "namespaceState",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/K8SNamespace"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/K8SNamespace"
                        }
                    },
                    "403": {
                        "description": "Forbidden, the user lacks permissions"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/limit-ranges": {
            "get": {
                "tags": [
                    "Limit Ranges"
                ],
                "summary": "Get All K8S LimitRanges",
                "description": "Get a list of all K8S LimitRanges",
                "operationId": "listUsingGET_1",
                "parameters": [
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "paged",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "sort.sorted",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "sort.unsorted",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "unpaged",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PageOfK8SLimitRange"
                        }
                    },
                    "403": {
                        "description": "Forbidden, the user lacks permissions"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/limit-ranges/{id}": {
            "get": {
                "tags": [
                    "Limit Ranges"
                ],
                "summary": "Get a K8S LimitRange by id",
                "description": "Get a K8S LimitRange by id",
                "operationId": "getUsingGET_1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/K8SLimitRange"
                        }
                    },
                    "403": {
                        "description": "Forbidden, the user lacks permissions"
                    }
                },
                "security": [
                    {
                        "Bearer": [
                            "global"
                        ]
                    }
                ],
                "deprecated": false
            }
        },
        "/cmx/api/resources/pks/endpoints/{id}/clusters": {
            "get": {
                "tags": [
                    "PKS Endpoints"
                ],
                "summary": "Get all K8S clusters for a PKS endpoint",
                "description": "Get all K8S clusters for a PKS endpoint by provided PKS endpoint id",
                "operationId": "getClustersUsingGET",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
[...]
